@using Microsoft.AspNetCore.Identity
@using Unbugit.Services.Interfaces

@inject SignInManager<BTUser> SignInManager
@inject UserManager<BTUser> UserManager
@inject IBTFileService FileService
@inject IBTNotificationService NotificationService

@{ BTUser currentUser = await UserManager.GetUserAsync(User);
    var notes = await NotificationService.GetReceivedNotificationsAsync(currentUser.Id);
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Unbugit</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/media/image/favicon.ico" />

    <!-- Main css -->
    <link rel="stylesheet" href="~/vendors/bundle.css" type="text/css">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Daterangepicker -->
    <link rel="stylesheet" href="~/vendors/datepicker/daterangepicker.css" type="text/css">

    <!-- DataTable -->
    <link rel="stylesheet" href="~/vendors/dataTable/datatables.min.css" type="text/css">

    <!-- App css -->
    <link rel="stylesheet" href="~/css/app.min.css" type="text/css">

    <!-- select2 multiselect -->
    <link rel="stylesheet" href="~/vendors/select2/css/select2.min.css" type="text/css">


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="dark" style="background-color:#001101;">
    <partial name="_LogoutPartial" />

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-icon"></div>
        <span>Loading...</span>
    </div>
    <!-- ./ Preloader -->
    <!-- Sidebar group -->
    <div class="sidebar-group">

        <!-- BEGIN: Settings -->
        <div class="sidebar" id="settings">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title d-flex justify-content-between">
                        Settings
                        <a class="btn-sidebar-close" href="#">
                            <i class="ti-close"></i>
                        </a>
                    </h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item pl-0 pr-0">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1" checked>
                                <label class="custom-control-label" for="customSwitch1">Allow notifications</label>
                            </div>
                        </li>
                        <li class="list-group-item pl-0 pr-0">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch2">
                                <label class="custom-control-label" for="customSwitch2">Hide user requests</label>
                            </div>
                        </li>
                        <li class="list-group-item pl-0 pr-0">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch3" checked>
                                <label class="custom-control-label" for="customSwitch3">Speed up demands</label>
                            </div>
                        </li>
                        <li class="list-group-item pl-0 pr-0">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch4" checked>
                                <label class="custom-control-label" for="customSwitch4">Hide menus</label>
                            </div>
                        </li>
                        <li class="list-group-item pl-0 pr-0">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch5">
                                <label class="custom-control-label" for="customSwitch5">Remember next visits</label>
                            </div>
                        </li>
                        <li class="list-group-item pl-0 pr-0">
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch6">
                                <label class="custom-control-label" for="customSwitch6">
                                    Enable report
                                    generation
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- END: Settings -->
        <!-- BEGIN: Chat List -->
        <div class="sidebar" id="chat-list">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title d-flex justify-content-between">
                        Chats
                        <a class="btn-sidebar-close" href="#">
                            <i class="ti-close"></i>
                        </a>
                    </h6>
                    <div class="list-group list-group-flush">
                        <a href="chat.html" class="list-group-item d-flex px-0 align-items-start">
                            <div class="pr-3">
                                <span class="avatar avatar-state-danger">
                                    <img src="~/media/image/user/women_avatar3.jpg" class="rounded-circle" alt="image">
                                </span>
                            </div>
                            <div class="flex-grow- 1">
                                <h6 class="mb-1">Cass Queyeiro</h6>
                                <span class="text-muted">
                                    <i class="fa fa-image mr-1"></i> Photo
                                </span>
                            </div>
                            <div class="text-right ml-auto d-flex flex-column">
                                <span class="small text-muted">Yesterday</span>
                            </div>
                        </a>
                        <a href="chat.html" class="list-group-item d-flex px-0 align-items-start">
                            <div class="pr-3">
                                <span class="avatar avatar-state-warning">
                                    <img src="~/media/image/user/man_avatar4.jpg" class="rounded-circle" alt="image">
                                </span>
                            </div>
                            <div class="flex-grow-1">
                                <h6 class="mb-1">Evered Asquith</h6>
                                <span class="text-muted">
                                    <i class="fa fa-video-camera mr-1"></i> Video
                                </span>
                            </div>
                            <div class="text-right ml-auto d-flex flex-column">
                                <span class="small text-muted">Last week</span>
                            </div>
                        </a>
                        <a href="chat.html" class="list-group-item px-0 d-flex align-items-start">
                            <div class="pr-3">
                                <div class="avatar avatar-state-danger">
                                    <span class="avatar-title bg-success rounded-circle">F</span>
                                </div>
                            </div>
                            <div>
                                <h6 class="mb-1">Francisco Ubsdale</h6>
                                <span class="text-muted">Hello how are you?</span>
                            </div>
                            <div class="text-right ml-auto d-flex flex-column">
                                <span class="small text-muted">2:32 PM</span>
                            </div>
                        </a>
                        <a href="chat.html" class="list-group-item px-0 d-flex align-items-start">
                            <div class="pr-3">
                                <div class="avatar avatar-state-success">
                                    <img src="~/media/image/user/women_avatar1.jpg" class="rounded-circle" alt="image">
                                </div>
                            </div>
                            <div>
                                <h6 class="mb-1">Natale Janu</h6>
                                <span class="text-muted">Hi!</span>
                            </div>
                            <div class="text-right ml-auto d-flex flex-column">
                                <span class="badge badge-primary badge-pill ml-auto mb-2">3</span>
                                <span class="small text-muted">08:27 PM</span>
                            </div>
                        </a>
                        <a href="chat.html" class="list-group-item d-flex px-0 align-items-start">
                            <div class="pr-3">
                                <span class="avatar avatar-state-warning">
                                    <img src="~/media/image/user/women_avatar2.jpg" class="rounded-circle" alt="image">
                                </span>
                            </div>
                            <div class="flex-grow- 1">
                                <h6 class="mb-1">Orelie Rockhall</h6>
                                <span class="text-muted">
                                    <i class="fa fa-image mr-1"></i> Photo
                                </span>
                            </div>
                            <div class="text-right ml-auto d-flex flex-column">
                                <span class="small text-muted">Yesterday</span>
                            </div>
                        </a>
                        <a href="chat.html" class="list-group-item d-flex px-0 align-items-start">
                            <div class="pr-3">
                                <span class="avatar avatar-state-info">
                                    <img src="~/media/image/user/man_avatar1.jpg" class="rounded-circle" alt="image">
                                </span>
                            </div>
                            <div class="flex-grow-1">
                                <h6 class="mb-1">Barbette Bolf</h6>
                                <span class="text-muted">
                                    <i class="fa fa-video-camera mr-1"></i> Video
                                </span>
                            </div>
                            <div class="text-right ml-auto d-flex flex-column">
                                <span class="small text-muted">Last week</span>
                            </div>
                        </a>
                        <a href="chat.html" class="list-group-item d-flex px-0 align-items-start">
                            <div class="pr-3">
                                <span class="avatar avatar-state-secondary">
                                    <span class="avatar-title bg-warning rounded-circle">D</span>
                                </span>
                            </div>
                            <div>
                                <h6 class="mb-1">Dudley Laborde</h6>
                                <span class="text-muted">Hello how are you?</span>
                            </div>
                            <div class="text-right ml-auto d-flex flex-column">
                                <span class="small text-muted">2:32 PM</span>
                            </div>
                        </a>
                        <a href="chat.html" class="list-group-item d-flex px-0 align-items-start">
                            <div class="pr-3">
                                <span class="avatar avatar-state-success">
                                    <img src="~/media/image/user/man_avatar2.jpg" class="rounded-circle" alt="image">
                                </span>
                            </div>
                            <div>
                                <h6 class="mb-1">Barbaraanne Riby</h6>
                                <span class="text-muted">Hi!</span>
                            </div>
                            <div class="text-right ml-auto d-flex flex-column">
                                <span class="small text-muted">08:27 PM</span>
                            </div>
                        </a>
                        <a href="chat.html" class="list-group-item d-flex px-0 align-items-start">
                            <div class="pr-3">
                                <span class="avatar avatar-state-danger">
                                    <img src="~/media/image/user/women_avatar3.jpg" class="rounded-circle" alt="image">
                                </span>
                            </div>
                            <div class="flex-grow- 1">
                                <h6 class="mb-1">Mariana Ondrousek</h6>
                                <span class="text-muted">
                                    <i class="fa fa-image mr-1"></i> Photo
                                </span>
                            </div>
                            <div class="text-right ml-auto d-flex flex-column">
                                <span class="small text-muted">Yesterday</span>
                            </div>
                        </a>
                        <a href="chat.html" class="list-group-item d-flex px-0 align-items-start">
                            <div class="pr-3">
                                <span class="avatar avatar-state-warning">
                                    <img src="~/media/image/user/man_avatar4.jpg" class="rounded-circle" alt="image">
                                </span>
                            </div>
                            <div class="flex-grow-1">
                                <h6 class="mb-1">Ruprecht Lait</h6>
                                <span class="text-muted">
                                    <i class="fa fa-video-camera mr-1"></i> Video
                                </span>
                            </div>
                            <div class="text-right ml-auto d-flex flex-column">
                                <span class="small text-muted">Last week</span>
                            </div>
                        </a>
                        <a href="chat.html" class="list-group-item d-flex px-0 align-items-start">
                            <div class="pr-3">
                                <span class="avatar avatar-state-info">
                                    <img src="~/media/image/user/man_avatar1.jpg" class="rounded-circle" alt="image">
                                </span>
                            </div>
                            <div class="flex-grow-1">
                                <h6 class="mb-1">Cosme Hubbold</h6>
                                <span class="text-muted">
                                    <i class="fa fa-video-camera mr-1"></i> Video
                                </span>
                            </div>
                            <div class="text-right ml-auto d-flex flex-column">
                                <span class="small text-muted">Last week</span>
                            </div>
                        </a>
                        <a href="chat.html" class="list-group-item d-flex px-0 align-items-start">
                            <div class="pr-3">
                                <span class="avatar avatar-state-secondary">
                                    <span class="avatar-title bg-secondary rounded-circle">M</span>
                                </span>
                            </div>
                            <div>
                                <h6 class="mb-1">Mallory Darch</h6>
                                <span class="text-muted">Hello how are you?</span>
                            </div>
                            <div class="text-right ml-auto d-flex flex-column">
                                <span class="small text-muted">2:32 PM</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Chat List -->

    </div>
    <!-- ./ Sidebar group -->
    <!-- Layout wrapper -->
    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- begin::navigation -->
        <div class="navigation" style="background-color:#001101;">
            <div class="navigation-header">
                <span>Navigation</span>
                <a href="#">
                    <i class="ti-close"></i>
                </a>
            </div>
            <div class="navigation-menu-body">
                <ul>
                    <li>
                        <a class="active" asp-action="Dashboard" asp-controller="Home">
                            <span class="nav-link-icon">
                                <i style="color:#22dc0a;" data-feather="crosshair"></i>
                            </span>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a class="active" href="#">
                                <span class="nav-link-icon">
                                    <i style="color:#00FFFF;" data-feather="layers"></i>
                                </span>
                                <span>Company</span>
                            </a>
                            <ul>
                                <li class="nav-link-icon">
                                    <a asp-action="Create" asp-controller="Invites">
                                        <span class="nav-link-icon">
                                            <i style="color:#FFFF00;" data-feather="user-plus"></i>
                                        </span>
                                        <span>New Company Invite</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-action="Details" asp-controller="Companies" asp-route-id="@currentUser.CompanyId">Company Details</a>
                                </li>
                                <li>
                                    <a asp-action="ManageUserRoles" asp-controller="UserRoles">
                                        <i class="fa fa-users"></i><span>Manage Team Roles</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                    <li>
                        <a class="active" href="#">
                            <span class="nav-link-icon">
                                <i style="color:#FF00FF;" data-feather="tag"></i>
                            </span>
                            <span>Tickets</span>
                        </a>
                        <ul>
                            <li>
                                <a asp-action="AllTickets" asp-controller="Tickets">Company Tickets</a>
                            </li>
                            <li>
                                <a asp-action="MyTickets" asp-controller="Tickets">My Tickets</a>
                            </li>
                            <li>
                                <a asp-action="Create" asp-controller="Tickets">Add New Ticket</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a class="active" href="#">
                            <span class="nav-link-icon">
                                <i style="color: #dddd00;" data-feather="coffee"></i>
                            </span>
                            <span>Projects</span>
                        </a>
                        <ul>
                            @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                            {
                                <li>
                                    <a asp-action="Index" asp-controller="Projects">Company Projects</a>
                                </li>
                            }
                            @if (User.IsInRole("Submitter") || User.IsInRole("Developer") || User.IsInRole("ProjectManager"))
                            {
                                <li>
                                    <a asp-action="MyProjects" asp-controller="Projects">My Projects</a>
                                </li>
                            }
                            @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                            {
                                <li>
                                    <a asp-action="Create" asp-controller="Projects">Creat New Project</a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end::navigation -->

    <div class="layout-wrapper">
        <!-- Header -->
        <div class="header d-print-none">
            <div class="header-container">
                <div class="header-left">
                    <div class="navigation-toggler">
                        <a href="#" data-action="navigation-toggler">
                            <i data-feather="menu"></i>
                        </a>
                    </div>

                    <div class="header-logo">
                        <a asp-action="Dashboard" asp-controller="Home">
                            <img class="logo" style="padding-top:15px; margin-left:-10px; z-index:-1;" src="~/media/image/unbugit-logo-sm-2.png" alt="logo">
                        </a>
                    </div>
                </div>

                @*/*TOP NAV-BAR*/*@
                <div class="header-body">
                    <div class="header-body-left">
                        <ul class="navbar-nav">
                            @*/*SEARCH*/*@
                            <li class="nav-item pt-2 mr-3">
                                <div class="header-search-form">
                                    <form>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <button class="btn">
                                                    <i data-feather="search"></i>
                                                </button>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Search">
                                            <div class="input-group-append">
                                                <button class="btn header-search-close-btn">
                                                    <i data-feather="x"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            @*/*APPS*/*@
                            <!--<li class="nav-item dropdown d-none d-md-block">
                                <a href="#" class="nav-link" title="Apps" data-toggle="dropdown">Apps</a>
                                <div class="dropdown-menu dropdown-menu-big">
                                    <div class="border-bottom px-4 py-3 text-center d-flex justify-content-between">
                                        <h5 class="mb-0">Apps</h5>
                                    </div>
                                    <div class="p-3">
                                        <div class="row row-xs">
                                            <div class="col-6">
                                                <a href="chat.html">
                                                    <div class="border-radius-1 text-center mb-3">
                                                        <figure class="avatar avatar-lg border-0">
                                                            <span class="avatar-title bg-primary text-white rounded-circle">
                                                                <i class="width-30 height-30" data-feather="message-circle"></i>
                                                            </span>
                                                        </figure>
                                                        <div class="mt-2">Chat</div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a href="mail.html">
                                                    <div class="border-radius-1 text-center mb-3">
                                                        <figure class="avatar avatar-lg border-0">
                                                            <span class="avatar-title bg-secondary text-white rounded-circle">
                                                                <i class="width-30 height-30" data-feather="mail"></i>
                                                            </span>
                                                        </figure>
                                                        <div class="mt-2">Mail</div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a href="todo-list.html">
                                                    <div class="border-radius-1 text-center">
                                                        <figure class="avatar avatar-lg border-0">
                                                            <span class="avatar-title bg-info text-white rounded-circle">
                                                                <i class="width-30 height-30" data-feather="check-circle"></i>
                                                            </span>
                                                        </figure>
                                                        <div class="mt-2">Todo List</div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-6">
                                                <a href="file-manager.html">
                                                    <div class="border-radius-1 text-center">
                                                        <figure class="avatar avatar-lg border-0">
                                                            <span class="avatar-title bg-warning text-white rounded-circle">
                                                                <i class="width-30 height-30" data-feather="file"></i>
                                                            </span>
                                                        </figure>
                                                        <div class="mt-2">File Manager</div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>-->
                            @*/*CREATE*/*@
                            <!--<li class="nav-item dropdown d-none d-md-block">
                                <a href="#" class="nav-link" title="Actions" data-toggle="dropdown">Create</a>
                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item">Add Products</a>
                                    <a href="#" class="dropdown-item">Add Category</a>
                                    <a href="#" class="dropdown-item">Add Report</a>
                                    <div class="dropdown-divider"></div>
                                    <a href="#" class="dropdown-item">Reports</a>
                                    <a href="#" class="dropdown-item">Customers</a>
                                </div>
                            </li>-->
                        </ul>
                    </div>

                    <div class="header-body-right">
                        <ul class="navbar-nav">

                            @*/*SEARCH*/*@
                            <li class="nav-item">
                                <a href="#" class="nav-link mobile-header-search-btn" title="Search">
                                    <i data-feather="search"></i>
                                </a>
                            </li>

                            @*/*FULLSCREEN*/*@
                            <li class="nav-item dropdown d-none d-md-block">
                                <a href="#" class="nav-link" title="Fullscreen" data-toggle="fullscreen">
                                    <i class="maximize" data-feather="maximize"></i>
                                    <i class="minimize" data-feather="minimize"></i>
                                </a>
                            </li>

                            @*/*MSG + NOTIFICATIONS*@
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link nav-link-notify" title="Chats" data-sidebar-target="#chat-list">
                                    <i data-feather="message-circle"></i>
                                </a>
                            </li>

                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link nav-link-notify" title="Notifications" data-toggle="dropdown">
                                    <i data-feather="bell"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-big">
                                    <div class="border-bottom px-4 py-2 d-flex justify-content-between align-items-center text-center">
                                        <h6 class="opacity-7">@(notes.Count) notifications</h6>
                                    </div>
                                    <div class="dropdown-scroll">
                                        <ul class="list-group list-group-flush">
                                            @foreach (var item in notes.Where(n => n.Viewed == false).OrderByDescending(n => n.Created))
                                            {
                                                <li class="px-4 py-2 list-group-item">
                                                    <a href="#" class="d-flex align-items-center hide-show-toggler">
                                                        <a asp-action="Details" asp-controller="Tickets" asp-route-id="@item.Ticket.Id">
                                                            <div class="flex-shrink-0">
                                                                <figure class="avatar mr-3">
                                                                    @if (item.Title == "New Ticket")
                                                                    {
                                                                        <span class="avatar-title bg-secondary-bright text-success rounded-circle">
                                                                            <i class="ti-receipt"></i>
                                                                        </span>
                                                                    }
                                                                    else if (item.Title == $"Ticket modified in {item.Ticket.Project.Name}")
                                                                    {
                                                                        <span class="avatar-title bg-warning-bright text-warning rounded-circle">
                                                                            <i class="ti-pulse"></i>
                                                                        </span>
                                                                    }
                                                                    else if (item.Title == "A ticket assigned to you has been modified")
                                                                    {
                                                                        <span class="avatar-title bg-warning-bright text-info rounded-circle">
                                                                            <i class="ti-agenda"></i>
                                                                        </span>
                                                                    }
                                                                </figure>
                                                            </div>
                                                        </a>
                                                        <div class="flex-grow-1">
                                                            <span class="text-muted small">@item.Created.ToString("M/dd/yyyy, h:mm tt")</span>
                                                            <p class="mb-0 line-height-20 d-flex justify-content-between">
                                                                <small>@item.Title</small>
                                                                <i title="Mark as read" data-toggle="tooltip" class="hide-show-toggler-item fa fa-circle-o font-size-10"></i>
                                                            </p>
                                                            <text class="text-light" style="font-style:italic">@item.Ticket.Title</text>
                                                        </div>
                                                    </a>
                                                </li>
                                            }
                                            <li class="px-4 py-3 list-group-item">
                                                <a href="#" class="d-flex align-items-center hide-show-toggler">
                                                    <div class="flex-shrink-0">
                                                        <figure class="avatar mr-3">
                                                            <span class="avatar-title bg-warning-bright text-warning rounded-circle">
                                                                <i class="ti-server"></i>
                                                            </span>
                                                        </figure>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <p class="mb-0 line-height-20 d-flex justify-content-between">
                                                            Storage is running low!
                                                            <i title="Mark as read" data-toggle="tooltip" class="hide-show-toggler-item fa fa-circle-o font-size-11"></i>
                                                        </p>
                                                        <span class="text-muted small">45 sec ago</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="px-4 py-2 text-center small text-muted bg-light">Old Notifications</li>
                                            <li class="px-4 py-3 list-group-item">
                                                <a href="#" class="d-flex align-items-center hide-show-toggler">
                                                    <div class="flex-shrink-0">
                                                        <figure class="avatar mr-3">
                                                            <span class="avatar-title bg-secondary-bright text-secondary rounded-circle">
                                                                <i class="ti-file"></i>
                                                            </span>
                                                        </figure>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <p class="mb-0 line-height-20 d-flex justify-content-between">
                                                            1 person sent a file
                                                            <i title="Mark as unread" data-toggle="tooltip" class="hide-show-toggler-item fa fa-check font-size-11"></i>
                                                        </p>
                                                        <span class="text-muted small">Yesterday</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="px-4 py-3 list-group-item">
                                                <a href="#" class="d-flex align-items-center hide-show-toggler">
                                                    <div class="flex-shrink-0">
                                                        <figure class="avatar mr-3">
                                                            <span class="avatar-title bg-success-bright text-success rounded-circle">
                                                                <i class="ti-download"></i>
                                                            </span>
                                                        </figure>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <p class="mb-0 line-height-20 d-flex justify-content-between">
                                                            Reports ready to download
                                                            <i title="Mark as unread" data-toggle="tooltip" class="hide-show-toggler-item fa fa-check font-size-11"></i>
                                                        </p>
                                                        <span class="text-muted small">Yesterday</span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="px-4 py-3 list-group-item">
                                                <a href="#" class="d-flex align-items-center hide-show-toggler">
                                                    <div class="flex-shrink-0">
                                                        <figure class="avatar mr-3">
                                                            <span class="avatar-title bg-primary-bright text-primary rounded-circle">
                                                                <i class="ti-arrow-top-right"></i>
                                                            </span>
                                                        </figure>
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <p class="mb-0 line-height-20 d-flex justify-content-between">
                                                            The invitation has been sent.
                                                            <i title="Mark as unread" data-toggle="tooltip" class="hide-show-toggler-item fa fa-check font-size-11"></i>
                                                        </p>
                                                        <span class="text-muted small">Last Week</span>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="px-4 py-3 text-right border-top">
                                        <ul class="list-inline small">
                                            <li class="list-inline-item mb-0">
                                                <a href="#">Mark All Read</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link" title="Settings" data-sidebar-target="#settings">
                                    <i data-feather="settings"></i>
                                </a>
                            </li>

                            @*/*ROLE DISPLAY*/*@
                            <li>
                                <div id="dashboard-daterangepicker" class="btn btn-sm btn-outline-light" style="padding-top:-15px;">
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <span class="btn btn-sm btn-outline-light">Admin</span>
                                    }
                                    else if (User.IsInRole("ProjectManager"))
                                    {
                                        <span class="btn btn-sm btn-outline-light">Project Manager</span>
                                    }
                                    else if (User.IsInRole("Developer"))
                                    {
                                        <span class="btn btn-sm btn-outline-light">Developer</span>
                                    }
                                    else if (User.IsInRole("Submitter"))
                                    {
                                        <span class="btn btn-sm btn-outline-light">Submitter</span>
                                    }
                                    else
                                    {
                                        <span class="btn btn-sm btn-outline-light">User</span>
                                    }
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" title="User menu" data-toggle="dropdown">
                                    <figure class="avatar avatar-sm">
                                        <img src="@FileService.ConvertByteArrayToFile(currentUser.AvatarFileData, currentUser.AvatarContentType)" alt="@currentUser.FullName" class="rounded-circle" />
                                    </figure>
                                    <span class="ml-2 d-sm-inline d-none">@currentUser.FullName</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-big">
                                    <div class="text-center py-4">
                                        <figure class="avatar avatar-lg mb-3 border-0">
                                            <img src="@FileService.ConvertByteArrayToFile(currentUser.AvatarFileData, currentUser.AvatarContentType)" alt="@currentUser.FullName" class="rounded-circle" />
                                        </figure>
                                        <h5 class="text-center">@currentUser.FullName</h5>
                                        <div class="mb-3 small text-center text-muted">@currentUser.UserName</div>
                                        <a asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-outline-info text-secondary btn-rounded" style="margin-bottom:10px;">Manage Your Account</a>
                                        <br />
                                        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Landing", "Home", new { area = "" })">
                                            <button type="submit" class="btn btn-sm btn-rounded"><span class="btn btn-outline-secondary text-info">Logout</span></button>
                                        </form>
                                        @*<a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Landing", "Home", new { area = "" })" class="btn btn-outline-secondary btn-rounded" style="margin-top:10px" padding-left:10px">*@
                                        @*Logout*@
                                        @*</a>*@
                                    </div>
                                    @*<a href="javascript:document.getElementById('logoutForm').submit();" class="list-group-item text-danger">Sign Out</a>*@
                                    <div class="p-4">
                                        <div class="mb-4">
                                            <h6 class="d-flex justify-content-between">
                                                Tickets Complete
                                                <span>%25</span>
                                            </h6>
                                            <div class="progress" style="height: 5px;">
                                                <div class="progress-bar bg-success-gradient" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <hr class="mb-3">
                                        <p class="small mb-0">
                                            <a href="#">Privacy policy</a>
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item header-toggler">
                        <a href="#" class="nav-link">
                            <i data-feather="arrow-down"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- ./ Header -->
        <section class="content-wrapper">
            <div class="content-body">
                <div class="content">
                    @RenderBody()
                </div>
            </div>
        </section>
    </div>

    <!-- ./ Layout wrapper -->
    <!-- Main scripts -->
    <script src="~/vendors/bundle.js"></script>

    <!-- Apex chart -->
    <script src="~/vendors/charts/apex/apexcharts.min.js"></script>

    <!-- Daterangepicker -->
    <script src="~/vendors/datepicker/daterangepicker.js"></script>

    <!-- DataTable -->
    <script src="~/vendors/dataTable/datatables.min.js"></script>

    <!-- Dashboard scripts -->
    <script src="~/js/examples/pages/dashboard.js"></script>

    <!-- App scripts -->
    <script src="~/js/app.min.js"></script>

    <!-- Chart Scripts -->
    <script src="~/js/chart.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
