@model IEnumerable<Unbugit.Models.Ticket>
@using Microsoft.AspNetCore.Identity
@using Unbugit.Services.Interfaces
@using Unbugit.Extensions

@inject IBTCompanyInfoService CompanyInfoService
@inject IBTRoleService RolesService
@inject IBTTicketService TicketService
@inject IBTProjectService ProjectService
@inject IBTFileService FileService
@inject UserManager<BTUser> UserManager

@{
    BTUser btUser = await UserManager.GetUserAsync(User);
    Company company = await CompanyInfoService.GetCompanyInfoByIdAsync(btUser.CompanyId);
    ViewData["Title"] = "All Tickets";
}

<h1>All Tickets</h1>

<div class="row sort">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-6 col-sm-12 my-1">

            <div class="card shadow p-2" style="border: 1px solid #DD44A7">
                <dl class="text-center bg-success-bright text-success">
                    @item.Project.Name
                </dl>
                @if (User.IsInRole("Admin") ||
              (item.OwnerUserId == btUser.Id) ||
              (item.DeveloperUserId == btUser.Id) ||
              (await ProjectService.GetProjectManagerAsync(item.ProjectId) == btUser))
                {
                    <a asp-action="Details" asp-controller="Tickets" asp-route-id="@item.Id">
                        <button class="btn btn-block bg-hover text-center bg-secondary-bright text-secondary py-3">@item.Title</button>
                    </a>
                }
                else
                {
                    <a asp-action="Details" asp-controller="Tickets" asp-route-id="@item.Id">
                        <h5 class="text-center text-muted py-3" style="border: 1px solid #DD44A7">@item.Title</h5>
                    </a>
                }
                <dl class="text-light">
                    Ticket Priority
                </dl>
                <dd>
                    @if (item.TicketPriorityId == 1)
                    {
                        <span class="badge badge-danger text-danger bg-danger-bright">@item.TicketPriority.Name</span>
                    }
                    else if (item.TicketPriorityId == 2)
                    {
                        <span class="badge badge-warning text-warning bg-warning-bright">@item.TicketPriority.Name</span>
                    }
                    else if (item.TicketPriorityId == 3)
                    {
                        <span class="badge badge-info text-info bg-info-bright">@item.TicketPriority.Name</span>
                    }
                    else if (item.TicketPriorityId == 4)
                    {
                        <span class="badge badge-primary text-primary bg-primary-bright">@item.TicketPriority.Name</span>
                    }
                </dd>
                <dl class="text-light">
                    Created
                </dl>
                <dd>
                    @item.Created?.ToString("d")
                </dd>
                <dl class="text-light">
                    Owner
                </dl>
                <dd>
                    <figure class="avatar" title="@item.OwnerUser.FullName">
                        <img src="@FileService.ConvertByteArrayToFile(item.OwnerUser.AvatarFileData, item.OwnerUser.AvatarContentType)" class="rounded-circle" alt="@item.OwnerUser.FullName">
                    </figure>
                    @item.OwnerUser.FullName
                </dd>
                <dl class="text-light">
                    Developer
                </dl>
                <dd>
                    @if (item.DeveloperUser != null)
                    {
                        <figure class="avatar" title="@item.DeveloperUser?.FullName">
                            <img src="@FileService.ConvertByteArrayToFile(item.DeveloperUser.AvatarFileData, item.DeveloperUser.AvatarContentType)" class="rounded-circle" alt="@item.DeveloperUser.FullName">
                        </figure>
                        @item.DeveloperUser?.FullName
                    }
                    else
                    {
                        <p>No Developer Assigned</p>
                    }
                </dd>
            </div>
        </div>
    }
</div>

<div class="table-responsive">
    <div class="text-center">
        <h3>All Tickets for @company.Name</h3>
    </div>
    <table id="myTable" class="table table-hover">
        <caption>All Tickets for @btUser.Company.Name</caption>
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Description
                </th>
                <th>
                    Created
                </th>
                <th>
                    Updated
                </th>
                <th>
                    Project
                </th>
                <th>
                    Type
                </th>
                <th>
                    Priority
                </th>
                <th>
                    Status
                </th>
                <th>
                    Owner
                </th>
                <th>
                    Developer
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Title
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.Created.ToString("d")
                    </td>
                    <td>
                        @item.Updated?.ToString("d")
                    </td>
                    <td>
                        @item.Project.Name
                    </td>
                    <td>
                        @item.TicketType.Name
                    </td>
                    <td>
                        @item.TicketPriority.Name
                    </td>
                    <td>
                        @item.TicketStatus.Name
                    </td>
                    <td>
                        @item.OwnerUser?.FullName
                    </td>
                    <td>
                        @item.DeveloperUser?.FullName
                    </td>
                    <td>
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="badge bg-danger-bright" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") && (item.Project.Members.Contains(btUser)) || (User.IsInRole("Developer") && (item.Project.Members.Contains(btUser))))
                        {
                            <a class="badge bg-warning-bright" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                        }
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-action="Dashboard" asp-controller="Home" asp-route-id="@btUser.Id"><p>Return to Dashboard</p></a>

    @section Scripts{
        <script>
            $(document).ready(function () {
                $('#myTable').DataTable();
            });
        </script>
        <script>
            $(document).ready(function () {
                $('#myTable2').DataTable();
            });
        </script>
    }
