@using Microsoft.AspNetCore.Http;
@using Unbugit.Services.Interfaces;
@using Unbugit.Services
@using Microsoft.AspNetCore.Identity
@using Unbugit.Models.Enums

@inject UserManager<BTUser> userManager
@inject IBTFileService BTFileService

@model Unbugit.Models.Ticket

@{
    ViewData["Title"] = "Ticket Details";
}

<h2>Ticket Details: @Model.Id</h2>

<div class="row">
    <p><a asp-action="Index" asp-controller="Projects" asp-route-id="@Model.Id">Return to Project</a></p>
</div>
<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="card border shadow my-1 mx-1 w-100">
                <div class="card-body rounded shadow-sm" style="border: 1px dashed #22dc0a;">
                    <h4 style="color:#22dc0a;">
                        <a asp-action="Edit" asp-route-id="@Model.Id">
                            <span><i class="fa fa-edit"></i></span>
                        </a>
                        @Model.Title
                    </h4>
                    <h6>@Model.Description</h6>
                    <p><em class="text-success">Created on:</em> @Model.Created.ToString("d")</p>
                    <p><b>Type:</b> @Model.TicketType.Name</p>
                    <p><b>Status:</b> @Model.TicketStatus.Name</p>
                    <p>
                        <b>Developer:</b>
                        @if (Model.DeveloperUser is not null)
                        {
                            <a asp-action="AssignTicket" asp-controller="Tickets" asp-route-ticketId="@Model.Id">
                                @Model.DeveloperUser.FullName
                            </a>
                        }
                        else
                        {
                            <a asp-action="AssignTicket" asp-controller="Tickets" asp-route-ticketId="@Model.Id">
                                <span>No developer has been assigned.</span>
                            </a>
                        }
                    </p>
                    <h5 style="color:#22dc0a">Project</h5>
                    <h6>@Model.Project.Name</h6>
                    <p><em class="text-danger">Project Deadline:</em> @Model.Project.EndDate</p>
                    <h5>Ticket Priority</h5>
                    @if (Model.TicketPriorityId == 1)
                    {
                        <p class="bg-danger-gradient text-center text-uppercase text-light font-weight-bolder">Priority: @Model.TicketPriority.Name</p>
                    }
                    else if (Model.TicketPriorityId == 2)
                    {
                        <p class="bg-warning-gradient text-center text-uppercase text-light font-weight-bolder">@Model.TicketPriority.Name</p>
                    }
                    else if (Model.TicketPriorityId == 3)
                    {
                        <p class="bg-info-gradient text-center text-uppercase text-light font-weight-bolder">@Model.TicketPriority.Name</p>
                    }
                    else if (Model.TicketPriorityId == 4)
                    {
                        <p class="bg-primary-gradient text-center text-uppercase text-light font-weight-bolder">@Model.TicketPriority.Name</p>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card shadow my-1 mx-1 w-100">
                    <div class="card-body">
                        <div>
                            <form asp-action="Create" asp-controller="TicketAttachments" enctype="multipart/form-data" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="@Model.Id" name="TicketId">
                                <div class="media-body ml-3">
                                    <label class="form-label d-block mb-2">Add Attachment</label>
                                    <label>
                                        Description
                                        <input asp-for="@Model.Attachments.FirstOrDefault().Description" type="text" class="form-control" />
                                    </label><br />
                                    <label class="btn btn-outline-primary btn-sm">
                                        <input asp-for="@Model.Attachments.FirstOrDefault().FormFile" type="file" />
                                    </label>
                                    <button type="submit" class="btn btn-outline-secondary btn-sm md-btn-flat">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    @foreach (TicketAttachment item in Model.Attachments)
                    {
                        <div class="col-6">
                            <div class="card shadow my-1 p-2">
                                <div class="file">
                                    <a asp-action="ShowFile" asp-controller="Tickets" asp-route-Id="@item.Id">
                                        <div class="hover">
                                            <button type="button" class="btn btn-icon btn-danger">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                        <div class="icon">
                                            <img src="@BTFileService.GetFileIcon(item.FileName)" style="height:60px;width:60px" />
                                        </div>
                                        <div class="file-name">
                                            <p class="m-b-5 text-muted">@System.IO.Path.GetFileNameWithoutExtension(item.FileName)</p>
                                            <small>Size: @BTFileService.FormatFileSize(item.FileData.Length) <span class="date text-muted">@item.Created.ToString("MMM dd, yyyy")</span></small>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="row">
            <div class="card border shadow-sm my-2 w-100">
                <div class="card-body rounded shadow">
                    <div class="col">
                        <h4>Comments</h4>
                        <hr style="border:3px solid; width: 100%; opacity:.8;" />
                        <div class="offset-1 btn-sm"><h6>@Model.Comments.Count Comment(s)</h6></div>
                        @foreach (var comment in Model.Comments.OrderByDescending(c => c.Created))
                        {
                            <div class="row">
                                <div class="col-lg-10 offset-1">
                                    <div class="media border p-3 shadow" style="border:2px; border-radius: 7px; background: #ddd; margin-bottom: 4px;">
                                        @*<div class="media-left media-top">
                                                                        <img src="@_fileService.ConvertByteArrayToFile(comment.User.AvatarFileData, comment.User.AvatarContentType)" alt="@comment.User.FullName" class="mr-3 rounded-circle media-object" style="border: 4px #f0ad4e outset;
                                            width: 64px;">
                                                                    </div>*@
                                        <div class="media-body" style="border:3px #ccc inset; padding:5px; background: #eee;">
                                            <b class="strong">
                                                @comment.User.FullName
                                                <small><i>Posted on @comment.Created.ToString("MMM dd, yyyy")</i></small><br />
                                                <small><i>@comment.Comment</i></small><br />
                                            </b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <hr />
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a id="loginToComment" class="btn-sm btn-block registerButton" style="text-align:center;" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Details", "Tickets")">Login to Comment</a>
                        }
                        else
                        {
                            //Once logged in, user is presented with a form to add a comment
                            <div class="row">
                                <div class="col-lg-8 offset-lg-2">
                                    <form asp-action="Create" asp-controller="TicketComments" method="post">
                                        <input type="hidden" name="TicketId" value="@Model.Id" />
                                        <textarea name="Comment" rows="4" class="form-control"></textarea>
                                        <button class="btn-sm btn-block registerButton" type="submit">Submit</button>
                                    </form>
                                </div>
                            </div>
                        }

                        <div>
                            @if (User.IsInRole("Administrator"))
                            {
                                <a asp-action="Edit" asp-route-id="@Model.Id">Edit Post </a>
                            }
                            <a asp-action="Details" asp-controller="Projects" asp-route-id="@Model.ProjectId">Back to Project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
</div>
