@model IEnumerable<Unbugit.Models.Ticket>
@using Microsoft.AspNetCore.Identity
@using Unbugit.Services.Interfaces
@using Unbugit.Extensions

@inject IBTCompanyInfoService CompanyInfoService
@inject IBTRoleService RolesService
@inject IBTTicketService TicketService
@inject IBTProjectService ProjectService
@inject IBTTicketService TicketService
@inject IBTFileService FileService
@inject UserManager<BTUser> UserManager

@{
    BTUser btUser = await UserManager.GetUserAsync(User);
    int companyId = User.Identity.GetCompanyId().Value;
    Company company = await CompanyInfoService.GetCompanyInfoByIdAsync(btUser.CompanyId);
    ViewData["Title"] = "Unassigned Tickets";
}

<div row="row my-1">
    <div class="table-responsive">
        <div class="text-center">
            <h3>Unassigned Tickets for @company.Name</h3>
        </div>
        <table id="cTTable" class="table table-hover">
            <caption> Unassigned Tickets for @company.Name</caption>
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>
                        Developer
                    </th>

                    <th>
                        Project
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Submitter
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (User.IsInRole("ProjectManager") && (item.Project.Members.Contains(btUser)) || (User.IsInRole("Admin")))
                            {
                                <a class="btn btn-outline-secondary text-info" asp-action="Details" asp-controller="Tickets" asp-route-id="@item.Id">
                                    @item.Title
                                </a>
                            }
                            else if (item.OwnerUserId == btUser.Id && item.DeveloperUserId != btUser.Id)
                            {
                                <a class="btn btn-outline-secondary text-primary" asp-action="Details" asp-controller="Tickets" asp-route-id="@item.Id">
                                    @item.Title
                                </a>
                            }
                            else
                            {
                                <a class="btn btn-outline-secondary text-dark" asp-action="Details" asp-controller="Tickets" asp-route-id="@item.Id">
                                    @item.Title
                                </a>
                            }
                        </td>
                        <td>
                            @if (item.TicketPriorityId == 1)
                            {
                                <span class="badge badge-danger">@item.TicketPriority.Name</span>
                            }
                            else if (item.TicketPriorityId == 2)
                            {
                                <span class="badge badge-warning">@item.TicketPriority.Name</span>
                            }
                            else if (item.TicketPriorityId == 3)
                            {
                                <span class="badge badge-info">@item.TicketPriority.Name</span>
                            }
                            else if (item.TicketPriorityId == 4)
                            {
                                <span class="badge badge-primary">@item.TicketPriority.Name</span>
                            }
                        </td>
                        <td>
                            @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") && ((item.Project.Members).Contains(btUser)))
                            {
                                <a asp-action="AssignTicket" asp-controller="Tickets" asp-route-ticketId="@item.Id" class="btn btn-outline-light text-primary">
                                    Assign Developer
                                </a>
                            }
                            else
                            {
                                <a href="#" class="btn btn-outline-light text-muted disabled">
                                    Assign Developer
                                </a>
                            }
                        </td>

                        <td>
                            @item.Project.Name
                        </td>
                        <td>
                            @item.TicketType.Name
                        </td>
                        <td>
                            @if (item.TicketStatusId == 1)
                            {
                                <span class="text-danger">@item.TicketStatus.Name</span>
                            }
                            else if (item.TicketStatusId == 2)
                            {
                                <span class="text-success">@item.TicketStatus.Name</span>
                            }
                            else if (item.TicketStatusId == 3)
                            {
                                <span class="text-secondary">@item.TicketStatus.Name</span>
                            }
                            else if (item.TicketStatusId == 4)
                            {
                                <span class="text-primary">@item.TicketStatus.Name</span>
                            }
                            else if (item.TicketStatusId == 5)
                            {
                                <span class="text-light">@item.TicketStatus.Name</span>
                            }
                            else if (item.TicketStatusId == 6)
                            {
                                <span class="text-muted">@item.TicketStatus.Name</span>
                            }
                        </td>
                        <td>
                            @if (item.OwnerUser is not null)
                            {
                                <figure class="avatar avatar-sm mr-3 bring-forward" title="@item.OwnerUser.FullName" data-toggle="tooltip">
                                    <img src="@FileService.ConvertByteArrayToFile(item.OwnerUser.AvatarFileData, item.OwnerUser.AvatarContentType)" title="@item.OwnerUser?.FullName" data-toggle="tooltip" alt="@item.OwnerUser?.FullName" class="rounded-circle">
                                </figure>
                            }
                            <small>@item.OwnerUser?.FullName</small>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#cTTable').DataTable();
        });
    </script>
}
