@model Unbugit.Models.ViewModels.DashboardViewModel

@using Unbugit.Services.Interfaces
@using Microsoft.AspNetCore.Identity
@using Unbugit.Extensions
@using System.Linq

@inject IBTCompanyInfoService CompanyInfoService
@inject IBTRoleService RolesService
@inject IBTTicketService TicketService
@inject IBTProjectService ProjectService
@inject IBTFileService FileService
@inject UserManager<BTUser> UserManager

@{
    BTUser btUser = await UserManager.GetUserAsync(User);
    int companyId = btUser.CompanyId.Value;
    var company = (CompanyInfoService.GetCompanyInfoByIdAsync(companyId)).Result.Name;
    int companyTickets = Model.Tickets.Count();
    int openTickets = Model.Tickets.Where(t => t.TicketStatusId != 1 && t.TicketStatusId != 2).Count();
    int archivedTickets = Model.Tickets.Where(t => t.Archived == true).Count();
    int unassigned = Model.Tickets.Where(t => t.TicketStatus.Id == 5 || t.DeveloperUser == null).Count();


    ViewData["Title"] = "Dashboard"; }

<div class="text-center">
    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- Content body -->
        <div class="content-body">
            <!-- Content -->
            <div class="row">
                <h3 style="text-align:center;">
                    Welcome back, @btUser.FirstName.
                    @*<a href="#" class="btn btn-gradient-dark ml-0 ml-md-2 mt-2 mt-md-0 dropdown-toggle" data-toggle="dropdown">Actions</a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" asp-controller="Projects" asp-action="MyProjects" asp-route-id="@btUser.Id">My Projects</a>
                            <a class="dropdown-item" asp-controller="Tickets" asp-action="MyTickets" asp-route-id="@btUser.Id">My Tickets</a>
                        </div>*@
                </h3><br />
            </div>

            <div class="row mx-2">

                <!--INFO BOXES-->
                <div class="col-lg-3 col-md-6 col-sm-12 my-1">
                    <div class="row">
                        <div class="col-sm-12">
                            @*UNASSIGNED TICKETS*@
                            <div class="card shadow border">
                                <div class="card-body bg-dark">
                                    <p class="card-title">Unassigned Tickets</p>
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="avatar">
                                            <a asp-action="Unassigned" asp-controller="Tickets" asp-route-id="@companyId">
                                                <span class="avatar-title bg-success-bright text-info rounded-pill">
                                                    <i class="ti-files"></i>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="font-weight-bold ml-1 font-size-30 ml-3">@unassigned</div>
                                    </div>
                                    <small class="mb-0"><a asp-action="Unassigned" asp-controller="Tickets" asp-route-id="@companyId" class="badge badge-success bg-success-bright">View Unassigned Tickets</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @*ACTIVE TICKETS*@
                            <div class="card shadow border">
                                <div class="card-body bg-dark">
                                    <p class="card-title">Active Tickets</p>
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="avatar">
                                            <a asp-action="AllTickets" asp-controller="Tickets" asp-route-id="@companyId">
                                                <span class="avatar-title bg-secondary-bright text-info rounded-pill">
                                                    <i class="ti-ticket"></i>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="font-weight-bold ml-1 font-size-30 ml-3">@openTickets</div>
                                    </div>
                                    @if (!User.IsInRole("Admin"))
                                    {
                                        <small class="mb-0"><a asp-action="MyTickets" asp-controller="Tickets" asp-route-id="@btUser.Id" class="badge badge-secondary">View My Tickets</a></small>

                                    }
                                    <small class="mb-0"><a asp-action="AllTickets" asp-controller="Tickets" asp-route-id="@companyId" class="badge badge-secondary bg-secondary-bright">View All Tickets</a></small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            @*COMPANY PROJECTS*@
                            <div class="card shadow border">
                                <div class="card-body bg-dark">
                                    <p class="card-title">Company Projects</p>
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="avatar">
                                            <a asp-action="Index" asp-controller="Projects" asp-route-id="@companyId">
                                                <span class="avatar-title bg-primary-bright rounded-pill">
                                                    <small class="fa fa-tasks text-info"></small>
                                                </span>
                                            </a>
                                        </div>
                                        <div class="font-weight-bold ml-1 font-size-30 ml-3">@Model.Projects.Count</div>
                                    </div>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <small class="mb-0"><a asp-action="Index" asp-controller="Projects" asp-route-id="@companyId" class="badge badge-primary">View All Projects</a></small>

                                    }
                                    @if (User.IsInRole("ProjectManager") || User.IsInRole("Developer") || User.IsInRole("Submitter"))
                                    {
                                        <small class="mb-0"><a asp-action="MyProjects" asp-controller="Projects" asp-route-id="@btUser.Id" class="badge badge-primary bg-primary">View My Projects</a></small>
                                        <small class="mb-0"><a asp-action="Index" asp-controller="Projects" asp-route-id="@companyId" class="badge badge-primary bg-primary-bright">View All Projects</a></small>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--CHARTS-->
                <div class="col-lg-9 col-md-12 col-sm-12 my-1">
                    <div class="row">

                        <!-- TICKET DISTRIBUTION CHART -->
                        <div class="col-lg-9 col-md-12 col-sm-12">
                            <div class="card shadow border">
                                <div class="card-header">
                                    <h4 class="card-title pt-1">Ticket Distribution Across Projects</h4>
                                </div>
                                <div class="card-body">
                                    <canvas id="donutChart">
                                    </canvas>
                                </div>
                            </div>
                        </div>

                        <!-- TICKETS BY PRIORITY CHART -->
                        <div class="col-lg-3 col-md-12 col-sm-12">
                            <div class="card shadow border">
                                <div class="card-header">
                                    <h5 class="card-title pt-1">Tickets by Priority</h5>
                                </div>
                                <div class="card-body">
                                    <canvas id="donutChartPriority">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <!-- TICKETS BY STATUS CHART -->
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="card shadow border">
                                <div class="card-header">
                                    <h5 class="card-title pt-1">Tickets by Status</h5>
                                </div>
                                <div class="card-body">
                                    <canvas id="donutChartStatus">
                                    </canvas>
                                </div>
                            </div>
                        </div>

                        <!-- TICKETS BY TYPE CHART -->
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="card shadow border">
                                <div class="card-header">
                                    <h5 class="card-title pt-1">Tickets by Type</h5>
                                </div>
                                <div class="card-body">
                                    <canvas id="donutChartType">
                                    </canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--TABS-->
            <div class="justify-content-center">
                <ul class="nav nav-pills mb-3" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="myTickets-tab" data-toggle="tab" href="#myTickets" role="tab"
                           aria-controls="myTickets" aria-selected="true">MyTickets</a>
                    </li>
                    @if (!User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" id="myProjects-tab" data-toggle="tab" href="#myProjects" role="tab"
                               aria-controls="myProjects" aria-selected="false">MyProjects</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" id="companyTickets-tab" data-toggle="tab" href="#companyTickets" role="tab"
                           aria-controls="companyTickets" aria-selected="false">Company Tickets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="companyProjects-tab" data-toggle="tab" href="#companyProjects" role="tab"
                           aria-controls="companyProjects" aria-selected="false">Company Projects</a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link bg-danger" id="archived-tab" data-toggle="tab" href="#archivedTickets" role="tab"
                               aria-controls="archiveTab" aria-selected="false">Archived</a>
                        </li>

                    }
                </ul>
            </div>

            <!--TAB CONTENT-->
            <div class="tab-content">
                <a id="newTicketLauncher" asp-action="Create" asp-controller="Tickets" class="pull-left mx-1 LayoutNewTicketLauncher" data-toggle="modal" data-target="#newTicketModal">
                    <span class="btn btn-outline-secondary">
                        <i class="text-warning" data-feather="plus-square"></i>
                    </span>
                    <span>Add New Ticket</span>
                </a>
                @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                {
                    <a asp-action="Create" asp-controller="Projects" class="pull-left mx-1">
                        <span class="btn btn-outline-success">
                            <i class="text-warning" data-feather="plus-square"></i>
                        </span>
                        <span>Add New Project</span>
                    </a>
                }

                <!--MY TICKETS TAB-->
                <div class="tab-pane fade show active" id="myTickets" role="tabpanel" aria-labelledby="home-tab">
                    <div row="row my-1">
                        <div class="table-responsive">
                            <div class="text-center">
                                <h3>Your Tickets</h3>
                            </div>
                            <table id="myTTable" class="table table-hover">
                                <caption>Tickets for @btUser.FullName</caption>
                                <thead>
                                    <tr>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Priority
                                        </th>

                                        <th>
                                            Project
                                        </th>
                                        <th>
                                            Type
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Submitter
                                        </th>
                                        <th>
                                            Developer
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in (Model.Tickets).Where(t => t.Archived is not true && (t.OwnerUserId == btUser.Id || t.DeveloperUserId == btUser.Id)))
                                    {
                                        <tr>
                                            <td>
                                                @if ((item.Project.Members.Contains(btUser)) || (User.IsInRole("Admin")))
                                                {
                                                    <a class="btn btn-outline-secondary text-info" asp-action="Details" asp-controller="Tickets" asp-route-id="@item.Id">
                                                        @item.Title
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-outline-secondary text-primary" asp-action="Details" asp-controller="Tickets" asp-route-id="@item.Id">
                                                        @item.Title
                                                    </a>
                                                }
                                            </td>
                                            <td>
                                                @if (item.TicketPriorityId == 1)
                                                {
                                                    <span class="badge badge-danger">@item.TicketPriority.Name</span>
                                                }
                                                else if (item.TicketPriorityId == 2)
                                                {
                                                    <span class="badge badge-warning">@item.TicketPriority.Name</span>
                                                }
                                                else if (item.TicketPriorityId == 3)
                                                {
                                                    <span class="badge badge-info">@item.TicketPriority.Name</span>
                                                }
                                                else if (item.TicketPriorityId == 4)
                                                {
                                                    <span class="badge badge-primary">@item.TicketPriority.Name</span>
                                                }
                                            </td>
                                            <td>
                                                @item.Project.Name
                                            </td>
                                            <td>
                                                @item.TicketType.Name
                                            </td>
                                            <td>
                                                @if (item.TicketStatusId == 1)
                                                {
                                                    <span class="text-danger">@item.TicketStatus.Name</span>
                                                }
                                                else if (item.TicketStatusId == 2)
                                                {
                                                    <span class="text-success">@item.TicketStatus.Name</span>
                                                }
                                                else if (item.TicketStatusId == 3)
                                                {
                                                    <span class="text-secondary">@item.TicketStatus.Name</span>
                                                }
                                                else if (item.TicketStatusId == 4)
                                                {
                                                    <span class="text-primary">@item.TicketStatus.Name</span>
                                                }
                                                else if (item.TicketStatusId == 5)
                                                {
                                                    <span class="text-light">@item.TicketStatus.Name</span>
                                                }
                                                else if (item.TicketStatusId == 6)
                                                {
                                                    <span class="text-muted">@item.TicketStatus.Name</span>
                                                }
                                            </td>
                                            <td>
                                                @if (item.OwnerUser is not null)
                                                {
                                                    <figure class="avatar avatar-sm mr-3 bring-forward" title="@item.OwnerUser.FullName" data-toggle="tooltip">
                                                        <img src="@FileService.ConvertByteArrayToFile(item.OwnerUser.AvatarFileData, item.OwnerUser.AvatarContentType)" title="@item.OwnerUser?.FullName" alt="@item.OwnerUser?.FullName" class="rounded-circle">
                                                    </figure>
                                                }
                                                <small>@item.OwnerUser?.FullName</small>
                                            </td>
                                            <td>
                                                @if (item.DeveloperUser is not null)
                                                {
                                                    <figure class="avatar avatar-sm mr-3 bring-forward" title="@item.DeveloperUser.FullName" data-toggle="tooltip">
                                                        <img src="@FileService.ConvertByteArrayToFile(item.DeveloperUser.AvatarFileData, item.DeveloperUser.AvatarContentType)" title="@item.DeveloperUser.FullName" alt="@item.DeveloperUser.FullName" class="rounded-circle">
                                                    </figure>
                                                }
                                                <small>@item.DeveloperUser?.FullName</small>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--MY PROJECTS TAB-->
                <div class="tab-pane fade" id="myProjects" role="tabpanel" aria-labelledby="home-tab">
                    <div row="row my-1">
                        <div class="table-responsive">
                            <div class="text-center">
                                <h3>Your Projects</h3>
                            </div>
                            <table id="myPTable" class="table table-hover">
                                <caption>Projects for @btUser.FullName</caption>
                                <thead>
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Priority
                                        </th>
                                        <th>
                                            Start Date
                                        </th>
                                        <th>
                                            End Date
                                        </th>
                                        <th>
                                            Members
                                        </th>
                                        <th>
                                            Tickets
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in (Model.Projects).Where(p => p.Members.Contains(btUser)))
                                    {
                                        <tr>
                                            <td>
                                                <a class="btn btn-outline-success text-info" asp-action="Details" asp-controller="Projects" asp-route-id="@item.Id">
                                                    @item.Name
                                                </a>
                                            </td>
                                            <td>
                                                @if (item.ProjectPriorityId == 1)
                                                {
                                                    <span class="badge badge-danger">@item.ProjectPriority.Name</span>
                                                }
                                                else if (item.ProjectPriorityId == 2)
                                                {
                                                    <span class="badge badge-warning">@item.ProjectPriority.Name</span>
                                                }
                                                else if (item.ProjectPriorityId == 3)
                                                {
                                                    <span class="badge badge-info">@item.ProjectPriority.Name</span>
                                                }
                                                else if (item.ProjectPriorityId == 4)
                                                {
                                                    <span class="badge badge-primary">@item.ProjectPriority.Name</span>
                                                }
                                            </td>
                                            <td>
                                                <span class="text-success">@item.StartDate.ToString("d")</span>
                                            </td>
                                            <td>
                                                <span class="text-danger">@item.EndDate?.ToString("d")</span>
                                            </td>
                                            <td>
                                                @item.Members.Count
                                            </td>
                                            <td>
                                                @item.Tickets.Count
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--COMPANY TICKETS TAB-->
                <div class="tab-pane fade" id="companyTickets" role="tabpanel" aria-labelledby="home-tab">
                    <div row="row my-1">
                        <div class="table-responsive">
                            <div class="text-center">
                                <h3>All Tickets for @company</h3>
                            </div>
                            <table id="cTTable" class="table table-hover">
                                <caption> All Tickets for @company</caption>
                                <thead>
                                    <tr>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Priority
                                        </th>

                                        <th>
                                            Project
                                        </th>
                                        <th>
                                            Type
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Submitter
                                        </th>
                                        <th>
                                            Developer
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in (Model.Tickets).Where(t => t.Project.CompanyId == companyId && t.Archived != true))
                                    {
                                        <tr>
                                            <td>
                                                @if ((item.Project.Members.Contains(btUser)) || (User.IsInRole("Admin")))
                                                {
                                                    <a class="btn btn-outline-secondary text-info" asp-action="Details" asp-controller="Tickets" asp-route-id="@item.Id">
                                                        @item.Title
                                                    </a>
                                                }
                                                else if (item.OwnerUserId == btUser.Id && item.DeveloperUserId != btUser.Id)
                                                {
                                                    <a class="btn btn-outline-secondary text-primary" asp-action="Details" asp-controller="Tickets" asp-route-id="@item.Id">
                                                        @item.Title
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-outline-secondary text-dark" asp-action="Details" asp-controller="Tickets" asp-route-id="@item.Id">
                                                        @item.Title
                                                    </a>
                                                }
                                            </td>
                                            <td>
                                                @if (item.TicketPriorityId == 1)
                                                {
                                                    <span class="badge badge-danger">@item.TicketPriority.Name</span>
                                                }
                                                else if (item.TicketPriorityId == 2)
                                                {
                                                    <span class="badge badge-warning">@item.TicketPriority.Name</span>
                                                }
                                                else if (item.TicketPriorityId == 3)
                                                {
                                                    <span class="badge badge-info">@item.TicketPriority.Name</span>
                                                }
                                                else if (item.TicketPriorityId == 4)
                                                {
                                                    <span class="badge badge-primary">@item.TicketPriority.Name</span>
                                                }
                                            </td>
                                            <td>
                                                @item.Project.Name
                                            </td>
                                            <td>
                                                @item.TicketType.Name
                                            </td>
                                            <td>
                                                @if (item.TicketStatusId == 1)
                                                {
                                                    <span class="text-danger">@item.TicketStatus.Name</span>
                                                }
                                                else if (item.TicketStatusId == 2)
                                                {
                                                    <span class="text-success">@item.TicketStatus.Name</span>
                                                }
                                                else if (item.TicketStatusId == 3)
                                                {
                                                    <span class="text-secondary">@item.TicketStatus.Name</span>
                                                }
                                                else if (item.TicketStatusId == 4)
                                                {
                                                    <span class="text-primary">@item.TicketStatus.Name</span>
                                                }
                                                else if (item.TicketStatusId == 5)
                                                {
                                                    <span class="text-light">@item.TicketStatus.Name</span>
                                                }
                                                else if (item.TicketStatusId == 6)
                                                {
                                                    <span class="text-muted">@item.TicketStatus.Name</span>
                                                }
                                            </td>
                                            <td>
                                                @if (item.OwnerUser is not null)
                                                {
                                                    <figure class="avatar avatar-sm mr-3 bring-forward" title="@item.OwnerUser.FullName" data-toggle="tooltip">
                                                        <img src="@FileService.ConvertByteArrayToFile(item.OwnerUser.AvatarFileData, item.OwnerUser.AvatarContentType)" title="@item.OwnerUser?.FullName" data-toggle="tooltip" alt="@item.OwnerUser?.FullName" class="rounded-circle">
                                                    </figure>
                                                }
                                                <small>@item.OwnerUser?.FullName</small>
                                            </td>
                                            <td>
                                                @if (item.DeveloperUser is not null)
                                                {
                                                    <figure class="avatar avatar-sm mr-3 bring-forward" title="@item.DeveloperUser.FullName" data-toggle="tooltip">
                                                        <img src="@FileService.ConvertByteArrayToFile(item.DeveloperUser.AvatarFileData, item.DeveloperUser.AvatarContentType)" title="@item.DeveloperUser.FullName" data-toggle="tooltip" alt="@item.DeveloperUser.FullName" class="rounded-circle">
                                                    </figure>
                                                }
                                                <small>@item.DeveloperUser?.FullName</small>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--COMPANY PROJECTS TAB-->
                <div class="tab-pane fade" id="companyProjects" role="tabpanel" aria-labelledby="home-tab">
                    <div row="row my-1">
                        <div class="table-responsive">
                            <div class="text-center">
                                <h3>All Projects for @company</h3>
                            </div>
                            <table id="cPTable" class="table table-hover">
                                <caption>All Projects for @company</caption>
                                <thead>
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Priority
                                        </th>
                                        <th>
                                            Start Date
                                        </th>
                                        <th>
                                            End Date
                                        </th>
                                        <th>
                                            Members
                                        </th>
                                        <th>
                                            Tickets
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Projects)
                                    {
                                        <tr>
                                            <td>
                                                @if ((item.Members.Contains(btUser)) || (User.IsInRole("Admin")) || (User.IsInRole("ProjectManager") && item.Members.Contains(btUser)))
                                                {
                                                    <a class="btn btn-outline-success text-info" asp-action="Details" asp-controller="Projects" asp-route-id="@item.Id">
                                                        @item.Name
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-outline-success text-dark" asp-action="Details" asp-controller="Projects" asp-route-id="@item.Id">
                                                        @item.Name
                                                    </a>
                                                }
                                            </td>
                                            <td>
                                                @if (item.ProjectPriorityId == 1)
                                                {
                                                    <span class="badge badge-danger">@item.ProjectPriority?.Name</span>
                                                }
                                                else if (item.ProjectPriorityId == 2)
                                                {
                                                    <span class="badge badge-warning">@item.ProjectPriority?.Name</span>
                                                }
                                                else if (item.ProjectPriorityId == 3)
                                                {
                                                    <span class="badge badge-info">@item.ProjectPriority?.Name</span>
                                                }
                                                else if (item.ProjectPriorityId == 4)
                                                {
                                                    <span class="badge badge-primary">@item.ProjectPriority?.Name</span>
                                                }
                                            </td>
                                            <td>
                                                @item.StartDate.ToString("d")
                                            </td>
                                            <td>
                                                @item.EndDate?.ToString("d")
                                            </td>
                                            <td>
                                                @item.Members.Count
                                            </td>
                                            <td>
                                                @item.Tickets.Count
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--ARCHIVED TICKETS TAB-->
                <div class="tab-pane fade" id="archivedTickets" role="tabpanel" aria-labelledby="home-tab">
                    <div row="row my-1">
                        <div class="table-responsive">
                            <div class="text-center">
                                <h3>Archived Tickets for @company</h3>
                            </div>
                            <table id="archivedTable" class="table table-hover">
                                <caption> Archived Tickets for @company</caption>
                                <thead>
                                    <tr>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Priority
                                        </th>

                                        <th>
                                            Project
                                        </th>
                                        <th>
                                            Type
                                        </th>
                                        <th>
                                            Status
                                        </th>
                                        <th>
                                            Submitter
                                        </th>
                                        <th>
                                            Developer
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in (Model.Tickets).Where(t => t.Project.CompanyId == companyId && t.Archived))
                                    {
                                        <tr>
                                            <td>
                                                @if ((item.Project.Members.Contains(btUser)) || (User.IsInRole("Admin")))
                                                {
                                                    <a class="btn btn-outline-secondary text-info" asp-action="Details" asp-controller="Tickets" asp-route-id="@item.Id">
                                                        @item.Title
                                                    </a>
                                                }
                                                else if (item.OwnerUserId == btUser.Id && item.DeveloperUserId != btUser.Id)
                                                {
                                                    <a class="btn btn-outline-secondary text-primary" asp-action="Details" asp-controller="Tickets" asp-route-id="@item.Id">
                                                        @item.Title
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-outline-secondary text-dark" asp-action="Details" asp-controller="Tickets" asp-route-id="@item.Id">
                                                        @item.Title
                                                    </a>
                                                }
                                            </td>
                                            <td>
                                                @if (item.TicketPriorityId == 1)
                                                {
                                                    <span class="badge badge-danger">@item.TicketPriority.Name</span>
                                                }
                                                else if (item.TicketPriorityId == 2)
                                                {
                                                    <span class="badge badge-warning">@item.TicketPriority.Name</span>
                                                }
                                                else if (item.TicketPriorityId == 3)
                                                {
                                                    <span class="badge badge-info">@item.TicketPriority.Name</span>
                                                }
                                                else if (item.TicketPriorityId == 4)
                                                {
                                                    <span class="badge badge-primary">@item.TicketPriority.Name</span>
                                                }
                                            </td>
                                            <td>
                                                @item.Project.Name
                                            </td>
                                            <td>
                                                @item.TicketType.Name
                                            </td>
                                            <td>
                                                @if (item.TicketStatusId == 1)
                                                {
                                                    <span class="text-danger">@item.TicketStatus.Name</span>
                                                }
                                                else if (item.TicketStatusId == 2)
                                                {
                                                    <span class="text-success">@item.TicketStatus.Name</span>
                                                }
                                                else if (item.TicketStatusId == 3)
                                                {
                                                    <span class="text-secondary">@item.TicketStatus.Name</span>
                                                }
                                                else if (item.TicketStatusId == 4)
                                                {
                                                    <span class="text-primary">@item.TicketStatus.Name</span>
                                                }
                                                else if (item.TicketStatusId == 5)
                                                {
                                                    <span class="text-light">@item.TicketStatus.Name</span>
                                                }
                                                else if (item.TicketStatusId == 6)
                                                {
                                                    <span class="text-muted">@item.TicketStatus.Name</span>
                                                }
                                            </td>
                                            <td>
                                                @if (item.OwnerUser is not null)
                                                {
                                                    <figure class="avatar avatar-sm mr-3 bring-forward" title="@item.OwnerUser.FullName" data-toggle="tooltip">
                                                        <img src="@FileService.ConvertByteArrayToFile(item.OwnerUser.AvatarFileData, item.OwnerUser.AvatarContentType)" title="@item.OwnerUser?.FullName" data-toggle="tooltip" alt="@item.OwnerUser?.FullName" class="rounded-circle">
                                                    </figure>
                                                }
                                                <small>@item.OwnerUser?.FullName</small>
                                            </td>
                                            <td>
                                                @if (item.DeveloperUser is not null)
                                                {
                                                    <figure class="avatar avatar-sm mr-3 bring-forward" title="@item.DeveloperUser.FullName" data-toggle="tooltip">
                                                        <img src="@FileService.ConvertByteArrayToFile(item.DeveloperUser.AvatarFileData, item.DeveloperUser.AvatarContentType)" title="@item.DeveloperUser.FullName" data-toggle="tooltip" alt="@item.DeveloperUser.FullName" class="rounded-circle">
                                                    </figure>
                                                }
                                                <small>@item.DeveloperUser?.FullName</small>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ./ Content -->
            <!-- Footer -->
            <footer class="content-footer pull-left">
                <div class="pull-left">© 2021 Eli McDougal | <a href="https://www.dougaldev.net" target="_blank">dougaldev.net</a></div>
                <div>
                    <nav class="nav">
                        <a href="https://themeforest.net/licenses/standard" class="nav-link">Licenses</a>
                        <a href="#" class="nav-link">Change Log</a>
                        <a href="#" class="nav-link">Get Help</a>
                    </nav>
                </div>
            </footer>
            <!-- ./ Footer -->
            <!-- ./ Content body -->
        </div>
        <!-- ./ Content wrapper -->
    </div>
</div>




@section Scripts {


    <script type="text/javascript">
        //Tickets By PROJECT Chart
        $.ajax({
            type: "POST",
            url: "/Home/DonutMethod",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                //Donut
                var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
                var donutData = result

                var donutOptions = {
                    maintainAspectRatio: false,
                    responsive: true,
                    legend: {
                        labels: {
                            fontColor: '#ddd'
                        },
                        display: true,
                        position: 'left'
                    }

                }
                //Create pie or douhnut chart
                // You can switch between pie and douhnut using the method below.
                new Chart(donutChartCanvas, {
                    type: 'pie',
                    data: donutData,
                    options: donutOptions
                })
            },
            failure: function (result) {
                alert(result.d);
            },
            error: function (result) {
                alert(result.d);
            }
        });
    </script>

    <script type="text/javascript">
        //Tickets by STATUS Chart
        $.ajax({
            type: "POST",
            url: "/Home/DonutMethodStatus",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                //Donut
                var donutChartCanvas = $('#donutChartStatus').get(0).getContext('2d')
                var donutData = result

                var donutOptions = {
                    maintainAspectRatio: false,
                    responsive: true,
                    legend: {
                        labels: {
                            fontColor: '#ddd'
                        },
                        display: true,
                        position: 'left'
                    }

                }
                //Create pie or douhnut chart
                // You can switch between pie and douhnut using the method below.
                new Chart(donutChartCanvas, {
                    type: 'doughnut',
                    data: donutData,
                    options: donutOptions
                })
            },
            failure: function (result) {
                alert(result.d);
            },
            error: function (result) {
                alert(result.d);
            }
        });
    </script>

    <script type="text/javascript">
        //Tickets by TYPE Chart
        $.ajax({
            type: "POST",
            url: "/Home/DonutMethodType",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                //Donut
                var donutChartCanvas = $('#donutChartType').get(0).getContext('2d')
                var donutData = result

                var donutOptions = {
                    maintainAspectRatio: false,
                    responsive: true,
                    legend: {
                        labels: {
                            fontColor: '#ddd'
                        },
                        display: true,
                        position: 'left'
                    }
                }
                //Create pie or douhnut chart
                // You can switch between pie and douhnut using the method below.
                new Chart(donutChartCanvas, {
                    type: 'polarArea',
                    data: donutData,
                    options: donutOptions,
                })
            },
            failure: function (result) {
                alert(result.d);
            },
            error: function (result) {
                alert(result.d);
            }
        });
    </script>

    <script type="text/javascript">
        //Tickets by PRIORITY Chart
        $.ajax({
            type: "POST",
            url: "/Home/DonutMethodPriority",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                //Donut
                var donutChartCanvas = $('#donutChartPriority').get(0).getContext('2d')
                var donutData = result

                var donutOptions = {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            },
                        }],
                    },
                    maintainAspectRatio: false,
                    responsive: true,
                    legend: {
                        display: false,
                        labels: {
                            fontColor: '#ddd'
                        },

                    },
                }
                //Create pie or douhnut chart
                // You can switch between pie and douhnut using the method below.
                new Chart(donutChartCanvas, {
                    type: 'bar',
                    data: donutData,
                    options: donutOptions
                })
            },
            failure: function (result) {
                alert(result.d);
            },
            error: function (result) {
                alert(result.d);
            }
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#myTTable').DataTable();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#myPTable').DataTable();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#cTTable').DataTable();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#cPTable').DataTable();
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#archivedTable').DataTable();
        });
    </script>

    <!--ADD TICKET Modal Launcher-->
    <!--<script type="text/javascript">
        $(document).ready(function () {
            $('#newTicketLauncher').click(function () {
                var url = $('#newTicketModal').data('url');
                $.get(url, function (data) {
                    $("#newTicketModal").html(data);
                    $("#newTicketModal").modal('show');
                });
            });
        });
    </script>-->

}
