@model Unbugit.Models.ViewModels.DashboardViewModel
@using Unbugit.Services.Interfaces
@using Microsoft.AspNetCore.Identity
@using Unbugit.Extensions

@inject IBTCompanyInfoService CompanyInfoService
@inject IBTRoleService RolesService
@inject IBTTicketService TicketService
@inject IBTProjectService ProjectService
@inject UserManager<BTUser> UserManager

@{ int companyId = User.Identity.GetCompanyId().Value;
    int companyTickets = (CompanyInfoService.GetAllTicketsAsync(companyId)).Result.Count;
    var company = (CompanyInfoService.GetCompanyInfoByIdAsync(companyId)).Result.Name;
    List<Project> companyProjects = await CompanyInfoService.GetAllProjectsAsync(companyId);
    BTUser btUser = await UserManager.GetUserAsync(User);
    int archivedTickets = TicketService.GetArchivedTicketsByCompanyAsync(companyId).Result.Count;


    ViewData["Title"] = "Dashboard"; }

<div class="text-center">
    <!-- Content wrapper -->
    <div class="content-wrapper">
        <!-- Content body -->
        <div class="content-body">
            <!-- Content -->
            <div>
                <div class="page-header d-md-flex justify-content-between ">
                    <h3 style="text-align:center;">Welcome back, @btUser.FirstName.</h3>
                    @*<a href="#" class="btn btn-gradient-dark ml-0 ml-md-2 mt-2 mt-md-0 dropdown-toggle" data-toggle="dropdown">Actions</a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" asp-controller="Projects" asp-action="MyProjects" asp-route-id="@btUser.Id">My Projects</a>
                            <a class="dropdown-item" asp-controller="Tickets" asp-action="MyTickets" asp-route-id="@btUser.Id">My Tickets</a>
                        </div>*@
                </div>

                <div class="row m-2">
                    <div class="col-md-6 col-lg-3 my-2">
                        <div class="card shadow border">
                            <div class="card-body">
                                <h6 class="card-title">@company Projects</h6>
                                <div class="d-flex align-items-center mb-3">
                                    <div>
                                        <div class="avatar">
                                            <a asp-action="Index" asp-controller="Projects" asp-route-id="@companyId">
                                                <span class="avatar-title bg-primary-bright rounded-pill text-primary">
                                                    <i class="fa fa- fa-tasks border-success"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="font-weight-bold ml-1 font-size-30 ml-3">@companyProjects.Count</div>
                                </div>
                                @if (User.IsInRole("Admin"))
                                {
                                    <p class="mb-0"><a asp-action="Index" asp-controller="Projects" asp-route-id="@companyId" class="badge badge-primary bg-primary-bright">See all projects</a> in your company.</p>

                                }
                                @if (User.IsInRole("ProjectManager") || User.IsInRole("Developer") || User.IsInRole("Submitter"))
                                {
                                    <p class="mb-0"><a asp-action="MyProjects" asp-controller="Projects" asp-route-id="@btUser.Id" class="badge badge-primary bg-primary-bright"> My Projects</a></p>
                                    <p class="mb-0"><a asp-action="Index" asp-controller="Projects" asp-route-id="@companyId" class="badge badge-primary bg-primary-bright">See all projects</a> in your company.</p>

                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 my-2">
                        <div class="card shadow border">
                            <div class="card-body">
                                <h6 class="card-title">Open Tickets</h6>
                                <div class="d-flex align-items-center mb-3">
                                    <div>
                                        <div class="avatar">
                                            <a asp-action="AllTickets" asp-controller="Tickets" asp-route-id="@companyId">
                                                <span class="avatar-title bg-secondary-bright text-secondary rounded-pill">
                                                    <i class="ti-map"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="font-weight-bold ml-1 font-size-30 ml-3">@companyTickets</div>
                                </div>
                                @if (User.IsInRole("Admin"))
                                {
                                    <p class="mb-0"><a asp-action="AllTickets" asp-controller="Tickets" asp-route-id="@companyId" class="badge badge-secondary bg-secondary-bright">See All Tickets</a> in your company.</p>

                                }
                                else if (User.IsInRole("ProjectManager") || User.IsInRole("Developer") || User.IsInRole("Submitter"))
                                {
                                    <p class="mb-0"><a asp-action="MyTickets" asp-controller="Tickets" asp-route-id="@btUser.Id" class="badge badge-secondary">My Tickets</a></p>
                                    <p class="mb-0"><a asp-action="AllTickets" asp-controller="Tickets" asp-route-id="@companyId" class="badge badge-secondary bg-secondary-bright">See All Tickets</a> in your company.</p>

                                }

                            </div>
                        </div>
                    </div>
                    <!--<section class="content">
                    <div class="container-fluid">
                            <div class="col-md-6 col-lg-3 my-2">-->
                    <!-- DONUT CHART -->
                    <!--<div class="card shadow border">
                                        <div class="card-header">
                                            <h3 class="card-title pt-1">Tickets by Type</h3>
                                        </div>
                                        <div class="card-body">
                                            <canvas id="donutChart">
                                            </canvas>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </section>-->
                    <div class="col-md-6 col-lg-3 my-2">
                        <div class="card shadow border">
                            <div class="card-header">
                                <h4 class="card-title pt-1">Tickets by Priority</h4>
                            </div>
                            <div class="card-body">
                                <canvas id="donutChartPriority">
                                </canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 my-2">
                        <div class="card shadow border">
                            <div class="card-body">
                                <h6 class="card-title">Archived Tickets</h6>
                                <div class="d-flex align-items-center mb-3">
                                    <div>
                                        <div class="avatar">
                                            <span class="avatar-title bg-danger-bright text-danger rounded-pill">
                                                <i class="ti-archive"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="font-weight-bold ml-1 font-size-30 ml-3">@archivedTickets</div>
                                </div>
                                <p class="mb-0">
                                    <a class="link-1 text-danger" href="#">View Archived Tickets</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- DONUT CHART -->
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <!-- DONUT CHART -->
                                <div class="card shadow border">
                                    <div class="card-header">
                                        <h3 class="card-title pt-1">Company Ticket Distribution</h3>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="donutChart">
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <!-- DONUT CHART -->
                                <div class="card shadow border">
                                    <div class="card-header">
                                        <h5 class="card-title pt-1">Tickets by Status</h5>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="donutChartStatus">
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <!-- DONUT CHART -->
                                <div class="card shadow border">
                                    <div class="card-header">
                                        <h5 class="card-title pt-1">Tickets by Type</h5>
                                    </div>
                                    <div class="card-body">
                                        <canvas id="donutChartType">
                                        </canvas>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

                <div class="table-responsive">
                    <div class="text-center">
                        <h3>All Tickets for @company</h3>
                    </div>
                    <table id="myTable" class="table table-hover">
                        <caption>All Tickets for @btUser.Company.Name</caption>
                        <thead>
                            <tr>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Modified
                                </th>
                                <th>
                                    Project
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Priority
                                </th>
                                <th>
                                    Status
                                </th>
                                @*<th>
                                        Owner
                                    </th>*@
                                <th>
                                    Developer
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Tickets)
                            {
                                <tr>
                                    <td>
                                        <a class="text-secondary" asp-action="Details" asp-controller="Tickets">
                                            @item.Title
                                        </a>
                                    </td>
                                    <td>
                                        @item.Description
                                    </td>
                                    <td>
                                        @if (item.Updated is not null)
                                        {
                                            @item.Updated?.ToString("d")
                                        }
                                        else
                                        {
                                            @item.Created.ToString("d")
                                        }
                                    </td>
                                    <td>
                                        @item.Project.Name
                                    </td>
                                    <td>
                                        @item.TicketType.Name
                                    </td>
                                    <td>
                                        @item.TicketPriority.Name
                                    </td>
                                    <td>
                                        @item.TicketStatus.Name
                                    </td>
                                    @*<td>
                                            @item.OwnerUser?.FullName
                                        </td>*@
                                    <td>
                                        @item.DeveloperUser?.FullName
                                    </td>
                                    <td>
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <a class="badge bg-danger-bright" asp-action="Delete" asp-controller="Tickets" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                                        }
                                        @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") && (item.Project.Members.Contains(btUser)) || (User.IsInRole("Developer") && (item.Project.Members.Contains(btUser))))
                                        {
                                            <a class="badge bg-warning-bright" asp-action="Edit" asp-controller="Tickets" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                                        }
                                        <a asp-action="Details" asp-controller="Tickets" asp-route-id="@item.Id">Details</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <!-- GOOGLE CHARTS -->
                    @*<div class="row clearfix">
                            <div class="col-lg-4 col-md-6">
                                <div class="card">
                                    <div class="body">
                                        <div id="chart1" class="bg-warning-bright text-warning">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="card">
                                    <div class="body">
                                        <div id="chart3D">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="card">
                                    <div class="body">
                                        <div id="donut">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                    @*<div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <h6 class="card-title mb-2">Report</h6>
                                            <div class="dropdown">
                                                <a href="#" class="btn btn-floating" data-toggle="dropdown">
                                                    <i class="ti-more-alt"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="list-group list-group-flush">
                                                <div class="list-group-item d-flex justify-content-between align-items-center px-0">
                                                    <div>
                                                        <h5>Stats</h5>
                                                        <div>Last month targets</div>
                                                    </div>
                                                    <h3 class="text-success mb-0">$1,23M</h3>
                                                </div>
                                                <div class="list-group-item d-flex justify-content-between align-items-center px-0">
                                                    <div>
                                                        <h5>Payments</h5>
                                                        <div>Week's expenses</div>
                                                    </div>
                                                    <div>
                                                        <h3 class="text-danger mb-0">- $58,90</h3>
                                                    </div>
                                                </div>
                                                <div class="list-group-item d-flex justify-content-between align-items-center px-0">
                                                    <div>
                                                        <h5>Orders</h5>
                                                        <div>Total products ordered</div>
                                                    </div>
                                                    <div>
                                                        <h3 class="text-info mb-0">65</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <a href="#" class="btn btn-info">Report Detail</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <h6 class="card-title mb-2">Statistics</h6>
                                            <div class="dropdown">
                                                <a href="#" class="btn btn-floating" data-toggle="dropdown">
                                                    <i class="ti-more-alt"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#">Action</a>
                                                    <a class="dropdown-item" href="#">Another action</a>
                                                    <a class="dropdown-item" href="#">Something else here</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="list-group list-group-flush">
                                                <div class="list-group-item d-flex justify-content-between align-items-center px-0">
                                                    <div>
                                                        <h5>Reports</h5>
                                                        <div>Monthly sales reports</div>
                                                    </div>
                                                    <h3 class="text-primary mb-0">421</h3>
                                                </div>
                                                <div class="list-group-item d-flex justify-content-between align-items-center px-0">
                                                    <div>
                                                        <h5>User</h5>
                                                        <div>Visitors last week</div>
                                                    </div>
                                                    <div>
                                                        <h3 class="text-success mb-0">+10</h3>
                                                    </div>
                                                </div>
                                                <div class="list-group-item d-flex justify-content-between align-items-center px-0">
                                                    <div>
                                                        <h5>Sales</h5>
                                                        <div>Total average weekly report</div>
                                                    </div>
                                                    <div>
                                                        <h3 class="text-primary mb-0">140</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-3">
                                            <a href="#" class="btn btn-warning">Statistics Detail</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <h6 class="card-title mb-2 text-center">Financial year</h6>
                                        <p class="mb-0 text-muted">Expenses statistics to date</p>
                                        <hr>
                                        <div class="font-size-40 font-weight-bold">$502,680</div>
                                        <hr>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <p class="text-muted mb-1">Current month</p>
                                                <div>
                                                    <span class="font-weight-bold">$46,362</span>
                                                    <span class="badge bg-danger-bright text-danger ml-1">-8%</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <p class="text-muted mb-1">Last year</p>
                                                <div>
                                                    <span class="font-weight-bold">$34,546</span>
                                                    <span class="badge bg-success-bright text-success ml-1">-13%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <p class="font-weight-bold">Monthly report</p>
                                        <div id="ecommerce-activity-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <h6 class="card-title">Reviews</h6>
                                            <a href="#" class="link-1">View All</a>
                                        </div>
                                        <div class="card-scroll" style="height: 430px">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item d-flex px-0 py-4">
                                                    <a href="#" class="flex-shrink-0">
                                                        <figure class="avatar mr-3">
                                                            <img src="~/media/image/user/man_avatar1.jpg"
                                                                 class="rounded-circle" alt="image">
                                                        </figure>
                                                    </a>
                                                    <div class="flex-grow-1">
                                                        <div class="d-flex justify-content-between">
                                                            <a href="#">
                                                                <h6>Valentine Maton</h6>
                                                                <ul class="list-inline mb-1">
                                                                    <li class="list-inline-item mb-0">
                                                                        <i class="fa fa-star text-warning"></i>
                                                                    </li>
                                                                    <li class="list-inline-item mb-0">
                                                                        <i class="fa fa-star text-warning"></i>
                                                                    </li>
                                                                    <li class="list-inline-item mb-0">
                                                                        <i class="fa fa-star text-warning"></i>
                                                                    </li>
                                                                    <li class="list-inline-item mb-0">
                                                                        <i class="fa fa-star text-warning"></i>
                                                                    </li>
                                                                    <li class="list-inline-item mb-0">
                                                                        <i class="fa fa-star text-warning"></i>
                                                                    </li>
                                                                    <li class="list-inline-item mb-0">(5)</li>
                                                                </ul>
                                                            </a>
                                                            <div class="ml-auto">
                                                                <div class="dropdown">
                                                                    <a href="#" data-toggle="dropdown"
                                                                       class="btn btn-floating"
                                                                       aria-haspopup="true" aria-expanded="false">
                                                                        <i class="ti-more-alt"></i>
                                                                    </a>
                                                                    <div class="dropdown-menu dropdown-menu-right">
                                                                        <a href="#" class="dropdown-item">View</a>
                                                                        <a href="#" class="dropdown-item">Send Message</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <p class="mb-0">
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio,
                                                            tempora.
                                                        </p>
                                                    </div>
                                                </li>
                                                <li class="list-group-item d-flex px-0 py-4">
                                                    <a href="#" class="flex-shrink-0">
                                                        <figure class="avatar mr-3">
                                                            <img src="~/media/image/user/man_avatar2.jpg"
                                                                 class="rounded-circle" alt="image">
                                                        </figure>
                                                    </a>
                                                    <div class="flex-grow-1">
                                                        <div class="d-flex justify-content-between">
                                                            <a href="#">
                                                                <h6>Valentine Maton</h6>
                                                                <ul class="list-inline mb-1">
                                                                    <li class="list-inline-item mb-0">
                                                                        <i class="fa fa-star text-warning"></i>
                                                                    </li>
                                                                    <li class="list-inline-item mb-0">
                                                                        <i class="fa fa-star text-warning"></i>
                                                                    </li>
                                                                    <li class="list-inline-item mb-0">
                                                                        <i class="fa fa-star text-warning"></i>
                                                                    </li>
                                                                    <li class="list-inline-item mb-0">
                                                                        <i class="fa fa-star-half-o text-warning"></i>
                                                                    </li>
                                                                    <li class="list-inline-item mb-0">
                                                                        <i class="fa fa-star-o"></i>
                                                                    </li>
                                                                    <li class="list-inline-item mb-0">(3.5)</li>
                                                                </ul>
                                                            </a>
                                                            <div class="ml-auto">
                                                                <div class="dropdown">
                                                                    <a href="#" data-toggle="dropdown"
                                                                       class="btn btn-floating"
                                                                       aria-haspopup="true" aria-expanded="false">
                                                                        <i class="ti-more-alt"></i>
                                                                    </a>
                                                                    <div class="dropdown-menu dropdown-menu-right">
                                                                        <a href="#" class="dropdown-item">View</a>
                                                                        <a href="#" class="dropdown-item">Send Message</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <p class="mb-0">
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio,
                                                            tempora.
                                                        </p>
                                                    </div>
                                                </li>
                                                <li class="list-group-item d-flex px-0 py-4">
                                                    <a href="#" class="flex-shrink-0">
                                                        <figure class="avatar mr-3">
                                                            <img src="~/media/image/user/man_avatar3.jpg"
                                                                 class="rounded-circle" alt="image">
                                                        </figure>
                                                    </a>
                                                    <div class="flex-grow-1">
                                                        <div class="d-flex justify-content-between">
                                                            <a href="#">
                                                                <h6>Valentine Maton</h6>
                                                                <ul class="list-inline mb-1">
                                                                    <li class="list-inline-item mb-0">
                                                                        <i class="fa fa-star text-warning"></i>
                                                                    </li>
                                                                    <li class="list-inline-item mb-0">
                                                                        <i class="fa fa-star text-warning"></i>
                                                                    </li>
                                                                    <li class="list-inline-item mb-0">
                                                                        <i class="fa fa-star text-warning"></i>
                                                                    </li>
                                                                    <li class="list-inline-item mb-0">
                                                                        <i class="fa fa-star text-warning"></i>
                                                                    </li>
                                                                    <li class="list-inline-item mb-0">
                                                                        <i class="fa fa-star-half-o text-warning"></i>
                                                                    </li>
                                                                    <li class="list-inline-item mb-0">(4.5)</li>
                                                                </ul>
                                                            </a>
                                                            <div class="ml-auto">
                                                                <div class="dropdown">
                                                                    <a href="#" data-toggle="dropdown"
                                                                       class="btn btn-floating"
                                                                       aria-haspopup="true" aria-expanded="false">
                                                                        <i class="ti-more-alt"></i>
                                                                    </a>
                                                                    <div class="dropdown-menu dropdown-menu-right">
                                                                        <a href="#" class="dropdown-item">View</a>
                                                                        <a href="#" class="dropdown-item">Send Message</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <p class="mb-0">
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio,
                                                            tempora.
                                                        </p>
                                                    </div>
                                                </li>
                                                <li class="list-group-item d-flex px-0 py-4">
                                                    <a href="#" class="flex-shrink-0">
                                                        <figure class="avatar mr-3">
                                                            <img src="~/media/image/user/man_avatar4.jpg"
                                                                 class="rounded-circle" alt="image">
                                                        </figure>
                                                    </a>
                                                    <div class="flex-grow-1">
                                                        <div class="d-flex justify-content-between">
                                                            <a href="#">
                                                                <h6>Valentine Maton</h6>
                                                                <ul class="list-inline mb-1">
                                                                    <li class="list-inline-item mb-0">
                                                                        <i class="fa fa-star text-warning"></i>
                                                                    </li>
                                                                    <li class="list-inline-item mb-0">
                                                                        <i class="fa fa-star text-warning"></i>
                                                                    </li>
                                                                    <li class="list-inline-item mb-0">
                                                                        <i class="fa fa-star text-warning"></i>
                                                                    </li>
                                                                    <li class="list-inline-item mb-0">
                                                                        <i class="fa fa-star text-warning"></i>
                                                                    </li>
                                                                    <li class="list-inline-item mb-0">
                                                                        <i class="fa fa-star-o"></i>
                                                                    </li>
                                                                    <li class="list-inline-item mb-0">(4)</li>
                                                                </ul>
                                                            </a>
                                                            <div class="ml-auto">
                                                                <div class="dropdown">
                                                                    <a href="#" data-toggle="dropdown"
                                                                       class="btn btn-floating"
                                                                       aria-haspopup="true" aria-expanded="false">
                                                                        <i class="ti-more-alt"></i>
                                                                    </a>
                                                                    <div class="dropdown-menu dropdown-menu-right">
                                                                        <a href="#" class="dropdown-item">View</a>
                                                                        <a href="#" class="dropdown-item">Send Message</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <p class="mb-0">
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio,
                                                            tempora.
                                                        </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <h6 class="card-title mb-4 text-center">Total sales this month</h6>
                                            <h2 class="font-size-35 font-weight-bold text-center">$1.158,000</h2>
                                            <p>
                                                This chart shows total sales. You can use the button below for details of this
                                                month's sales.
                                            </p>
                                            <div class="mt-4">
                                                <a href="#" class="btn btn-primary">View Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card bg-info-bright">
                                    <div class="card-body">
                                        <div class="text-center">
                                            <h6 class="card-title mb-4 text-center">Total sales in the past week</h6>
                                            <h2 class="font-size-35 font-weight-bold text-center">$950,000</h2>
                                            <p>
                                                This chart shows total sales. You can use the button below for details of this
                                                month's sales.
                                            </p>
                                            <div class="mt-4">
                                                <a href="#" class="btn btn-primary">View Detail</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between mb-4">
                                            <div>
                                                <h6 class="card-title mb-1">Monthly Sales</h6>
                                                <p class="small text-muted">Avarage total sales +25,5%</p>
                                            </div>
                                            <div>
                                                <a href="#" class="btn btn-floating">
                                                    <i class="fa fa-refresh"></i>
                                                </a>
                                                <div class="dropdown">
                                                    <a href="#" data-toggle="dropdown"
                                                       class="btn btn-floating"
                                                       aria-haspopup="true" aria-expanded="false">
                                                        <i class="ti-more-alt"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#">Action</a>
                                                        <a class="dropdown-item" href="#">Another action</a>
                                                        <a class="dropdown-item" href="#">Something else here</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="monthly-sales"></div>
                                        <ul class="list-inline text-center">
                                            <li class="list-inline-item">
                                                <i class="fa fa-circle mr-1 text-success"></i> Bank Card <br>
                                                <small class="text-muted">25,45% over</small>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-circle mr-1 text-primary"></i> Credit Card <br>
                                                <small class="text-muted">75,55% over</small>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <h6 class="card-title">Recent Orders</h6>
                                <div class="table-responsive">
                                    <table id="recent-orders" class="table">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Customer</th>
                                                <th>Total Price</th>
                                                <th>Status</th>
                                                <th>Date</th>
                                                <th class="text-right">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a href="product-detail.html" class="d-flex align-items-center">
                                                        <img width="40" src="~/media/image/products/product1.png"
                                                             class="rounded mr-3" alt="Vase">
                                                        <span>Vase</span>
                                                    </a>
                                                </td>
                                                <td>Dollie Bullock</td>
                                                <td>$230</td>
                                                <td>
                                                    <span class="badge bg-secondary-bright text-secondary">On pre-order (not paid)</span>
                                                </td>
                                                <td>2020/02/28</td>
                                                <td class="text-right">
                                                    <div class="dropdown">
                                                        <a href="#" data-toggle="dropdown"
                                                           class="btn btn-floating"
                                                           aria-haspopup="true" aria-expanded="false">
                                                            <i class="ti-more-alt"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a href="#" class="dropdown-item">View Detail</a>
                                                            <a href="#" class="dropdown-item">Send</a>
                                                            <a href="#" class="dropdown-item">Edit</a>
                                                            <a href="#" class="dropdown-item text-danger">Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="product-detail.html" class="d-flex align-items-center">
                                                        <img width="40" src="~/media/image/products/product2.png"
                                                             class="rounded mr-3" alt="Glasses">
                                                        <span>Glasses</span>
                                                    </a>
                                                </td>
                                                <td>Holmes Hines</td>
                                                <td>$300</td>
                                                <td>
                                                    <span class="badge bg-success-bright text-success">Payment accepted</span>
                                                </td>
                                                <td>2020/08/28</td>
                                                <td class="text-right">
                                                    <div class="dropdown">
                                                        <a href="#" data-toggle="dropdown"
                                                           class="btn btn-floating"
                                                           aria-haspopup="true" aria-expanded="false">
                                                            <i class="ti-more-alt"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a href="#" class="dropdown-item">View Detail</a>
                                                            <a href="#" class="dropdown-item">Send</a>
                                                            <a href="#" class="dropdown-item">Edit</a>
                                                            <a href="#" class="dropdown-item text-danger">Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="product-detail.html" class="d-flex align-items-center">
                                                        <img width="40" src="~/media/image/products/product3.png"
                                                             class="rounded mr-3" alt="Plate">
                                                        <span>Plate</span>
                                                    </a>
                                                </td>
                                                <td>Serena Glover</td>
                                                <td>$250</td>
                                                <td>
                                                    <span class="badge bg-danger-bright text-danger">Payment error</span>
                                                </td>
                                                <td>2020/08/28</td>
                                                <td class="text-right">
                                                    <div class="dropdown">
                                                        <a href="#" data-toggle="dropdown"
                                                           class="btn btn-floating"
                                                           aria-haspopup="true" aria-expanded="false">
                                                            <i class="ti-more-alt"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a href="#" class="dropdown-item">View Detail</a>
                                                            <a href="#" class="dropdown-item">Send</a>
                                                            <a href="#" class="dropdown-item">Edit</a>
                                                            <a href="#" class="dropdown-item text-danger">Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="product-detail.html" class="d-flex align-items-center">
                                                        <img width="40" src="~/media/image/products/product4.png"
                                                             class="rounded mr-3" alt="Pen">
                                                        <span>Pen</span>
                                                    </a>
                                                </td>
                                                <td>Dianne Prince</td>
                                                <td>$550</td>
                                                <td>
                                                    <span class="badge bg-success-bright text-success">Payment accepted</span>
                                                </td>
                                                <td>2020/08/28</td>
                                                <td class="text-right">
                                                    <div class="dropdown">
                                                        <a href="#" data-toggle="dropdown"
                                                           class="btn btn-floating"
                                                           aria-haspopup="true" aria-expanded="false">
                                                            <i class="ti-more-alt"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a href="#" class="dropdown-item">View Detail</a>
                                                            <a href="#" class="dropdown-item">Send</a>
                                                            <a href="#" class="dropdown-item">Edit</a>
                                                            <a href="#" class="dropdown-item text-danger">Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="product-detail.html" class="d-flex align-items-center">
                                                        <img width="40" src="~/media/image/products/product5.png"
                                                             class="rounded mr-3" alt="Armchair">
                                                        <span>Armchair</span>
                                                    </a>
                                                </td>
                                                <td>Morgan Pitts</td>
                                                <td>$280</td>
                                                <td>
                                                    <span class="badge bg-warning-bright text-warning">Preparing the order</span>
                                                </td>
                                                <td>2020/03/30</td>
                                                <td class="text-right">
                                                    <div class="dropdown">
                                                        <a href="#" data-toggle="dropdown"
                                                           class="btn btn-floating"
                                                           aria-haspopup="true" aria-expanded="false">
                                                            <i class="ti-more-alt"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a href="#" class="dropdown-item">View Detail</a>
                                                            <a href="#" class="dropdown-item">Send</a>
                                                            <a href="#" class="dropdown-item">Edit</a>
                                                            <a href="#" class="dropdown-item text-danger">Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="product-detail.html" class="d-flex align-items-center">
                                                        <img width="40" src="~/media/image/products/product6.png"
                                                             class="rounded mr-3" alt="Flowerpot">
                                                        <span>Flowerpot</span>
                                                    </a>
                                                </td>
                                                <td>Merrill Richardson</td>
                                                <td>$128</td>
                                                <td>
                                                    <span class="badge bg-info-bright text-info">Awaiting PayPal payment</span>
                                                </td>
                                                <td>2020/01/14</td>
                                                <td class="text-right">
                                                    <div class="dropdown">
                                                        <a href="#" data-toggle="dropdown"
                                                           class="btn btn-floating"
                                                           aria-haspopup="true" aria-expanded="false">
                                                            <i class="ti-more-alt"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a href="#" class="dropdown-item">View Detail</a>
                                                            <a href="#" class="dropdown-item">Send</a>
                                                            <a href="#" class="dropdown-item">Edit</a>
                                                            <a href="#" class="dropdown-item text-danger">Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="product-detail.html" class="d-flex align-items-center">
                                                        <img width="40" src="~/media/image/products/product7.png"
                                                             class="rounded mr-3" alt="Wall Clock">
                                                        <span>Wall Clock</span>
                                                    </a>
                                                </td>
                                                <td>Krista Mathis</td>
                                                <td>$500</td>
                                                <td>
                                                    <span class="badge bg-secondary-bright text-secondary">Shipped</span>
                                                </td>
                                                <td>2020/02/28</td>
                                                <td class="text-right">
                                                    <div class="dropdown">
                                                        <a href="#" data-toggle="dropdown"
                                                           class="btn btn-floating"
                                                           aria-haspopup="true" aria-expanded="false">
                                                            <i class="ti-more-alt"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a href="#" class="dropdown-item">View Detail</a>
                                                            <a href="#" class="dropdown-item">Send</a>
                                                            <a href="#" class="dropdown-item">Edit</a>
                                                            <a href="#" class="dropdown-item text-danger">Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="product-detail.html" class="d-flex align-items-center">
                                                        <img width="40" src="~/media/image/products/product8.png"
                                                             class="rounded mr-3" alt="Desk">
                                                        <span>Desk</span>
                                                    </a>
                                                </td>
                                                <td>Frankie Hewitt</td>
                                                <td>$300</td>
                                                <td>
                                                    <span class="badge bg-success-bright text-success">Remote payment accepted</span>
                                                </td>
                                                <td>2020/02/09</td>
                                                <td class="text-right">
                                                    <div class="dropdown">
                                                        <a href="#" data-toggle="dropdown"
                                                           class="btn btn-floating"
                                                           aria-haspopup="true" aria-expanded="false">
                                                            <i class="ti-more-alt"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a href="#" class="dropdown-item">View Detail</a>
                                                            <a href="#" class="dropdown-item">Send</a>
                                                            <a href="#" class="dropdown-item">Edit</a>
                                                            <a href="#" class="dropdown-item text-danger">Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="product-detail.html" class="d-flex align-items-center">
                                                        <img width="40" src="~/media/image/products/product9.png"
                                                             class="rounded mr-3" alt="Night Light">
                                                        <span>Night Light</span>
                                                    </a>
                                                </td>
                                                <td>Hayden Fitzgerald</td>
                                                <td>$200</td>
                                                <td>
                                                    <span class="badge bg-success-bright text-success">Delivered</span>
                                                </td>
                                                <td>2020/01/14</td>
                                                <td class="text-right">
                                                    <div class="dropdown">
                                                        <a href="#" data-toggle="dropdown"
                                                           class="btn btn-floating"
                                                           aria-haspopup="true" aria-expanded="false">
                                                            <i class="ti-more-alt"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a href="#" class="dropdown-item">View Detail</a>
                                                            <a href="#" class="dropdown-item">Send</a>
                                                            <a href="#" class="dropdown-item">Edit</a>
                                                            <a href="#" class="dropdown-item text-danger">Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="product-detail.html" class="d-flex align-items-center">
                                                        <img width="40" src="~/media/image/products/product10.png"
                                                             class="rounded mr-3" alt="Shoe">
                                                        <span>Shoe</span>
                                                    </a>
                                                </td>
                                                <td>Cole Holcomb</td>
                                                <td>$700</td>
                                                <td>
                                                    <span class="badge bg-secondary-bright text-secondary">On pre-order (not paid)</span>
                                                </td>
                                                <td>2020/02/28</td>
                                                <td class="text-right">
                                                    <div class="dropdown">
                                                        <a href="#" data-toggle="dropdown"
                                                           class="btn btn-floating"
                                                           aria-haspopup="true" aria-expanded="false">
                                                            <i class="ti-more-alt"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a href="#" class="dropdown-item">View Detail</a>
                                                            <a href="#" class="dropdown-item">Send</a>
                                                            <a href="#" class="dropdown-item">Edit</a>
                                                            <a href="#" class="dropdown-item text-danger">Delete</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>*@

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-body text-center">
                                    <div class="row my-3">
                                        <div class="col-md-6 ml-auto mr-auto">
                                            <figure>
                                                <img class="img-fluid" src="~/media/svg/upgrade.svg" alt="upgrade">
                                            </figure>
                                        </div>
                                    </div>
                                    <h4 class="mb-3 text-center">Get an Upgrade</h4>
                                    <div class="row my-3">
                                        <div class="col-md-10 ml-auto mr-auto">
                                            <p class="text-muted">Get additional 500 GB space for your documents and files. Expand your storage and enjoy your business. Change plan for more space.</p>
                                            <button class="btn btn-primary" data-dismiss="modal">Plan Upgrade</button>
                                        </div>
                                    </div>
                                    <a href="#" class="align-items-center d-flex link-1 small justify-content-center" data-dismiss="modal">
                                        <i class="ti-close font-size-10 mr-1"></i>Close
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./ Content -->
                <!-- Footer -->
                <footer class="content-footer">
                    <div>© 2020 Gogi - <a href="http://laborasyon.com" target="_blank">Laborasyon</a></div>
                    <div>
                        <nav class="nav">
                            <a href="https://themeforest.net/licenses/standard" class="nav-link">Licenses</a>
                            <a href="#" class="nav-link">Change Log</a>
                            <a href="#" class="nav-link">Get Help</a>
                        </nav>
                    </div>
                </footer>
                <!-- ./ Footer -->
            </div>
            <!-- ./ Content body -->
        </div>
        <!-- ./ Content wrapper -->
    </div>


    @section Scripts {
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
            google.load("visualization", "1", { packages: ["corechart"] });
            google.setOnLoadCallback(drawChart);
            function drawChart() {
                $.ajax({
                    type: "POST",
                    url: "/Home/PieChartMethod",
                    data: '{}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        var data = google.visualization.arrayToDataTable(result);

                        //Pie
                        var options = {
                            title: 'Company Ticket Distribution',
                            //is3D: true
                        };
                        var chart = new google.visualization.PieChart($("#chart1")[0]);
                        chart.draw(data, options);
                    },
                    failure: function (result) {
                        alert(result.d);
                    },
                    error: function (result) {
                        alert(result.d);
                    }
                });
            }
        </script>
        <script type="text/javascript">
            google.load("visualization", "1", { packages: ["corechart"] });
            google.setOnLoadCallback(drawChart);
            function drawChart() {
                $.ajax({
                    type: "POST",
                    url: "/Home/PieChartMethod",
                    data: '{}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        var data = google.visualization.arrayToDataTable(result);

                        //3D Pie
                        var options = {
                            title: 'Company Ticket Distribution',
                            is3D: true
                        };
                        var chart = new google.visualization.PieChart($("#chart3D")[0]);
                        chart.draw(data, options);
                    },
                    failure: function (rresult) {
                        alert(result.d);
                    },
                    error: function (result) {
                        alert(result.d);
                    }
                });
            }
        </script>
        <script type="text/javascript">
            google.load("visualization", "1", { packages: ["corechart"] });
            google.setOnLoadCallback(drawChart);
            function drawChart() {
                $.ajax({
                    type: "POST",
                    url: "/Home/PieChartMethod",
                    data: '{}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        var data = google.visualization.arrayToDataTable(result);

                        //Donut
                        var options = {
                            title: 'Company Ticket Distribution',
                            pieHole: 0.5
                        };
                        var chart = new google.visualization.PieChart($("#donut")[0]);
                        chart.draw(data, options);
                    },
                    failure: function (rresult) {
                        alert(result.d);
                    },
                    error: function (result) {
                        alert(result.d);
                    }
                });
            }
        </script>

        <script type="text/javascript">
            $.ajax({
                type: "POST",
                url: "/Home/DonutMethod",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    //Donut
                    var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
                    var donutData = result

                    var donutOptions = {
                        maintainAspectRatio: false,
                        responsive: true,
                    }
                    //Create pie or douhnut chart
                    // You can switch between pie and douhnut using the method below.
                    new Chart(donutChartCanvas, {
                        type: 'pie',
                        data: donutData,
                        options: donutOptions
                    })
                },
                failure: function (result) {
                    alert(result.d);
                },
                error: function (result) {
                    alert(result.d);
                }
            });

        </script>
        <script type="text/javascript">
            $.ajax({
                type: "POST",
                url: "/Home/DonutMethod",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    //Donut
                    var donutChartCanvas = $('#donutChartStatus').get(0).getContext('2d')
                    var donutData = result

                    var donutOptions = {
                        maintainAspectRatio: false,
                        responsive: true,
                    }
                    //Create pie or douhnut chart
                    // You can switch between pie and douhnut using the method below.
                    new Chart(donutChartCanvas, {
                        type: 'doughnut',
                        data: donutData,
                        options: donutOptions
                    })
                },
                failure: function (result) {
                    alert(result.d);
                },
                error: function (result) {
                    alert(result.d);
                }
            });

        </script>
        <script type="text/javascript">
            $.ajax({
                type: "POST",
                url: "/Home/DonutMethod",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    //Donut
                    var donutChartCanvas = $('#donutChartType').get(0).getContext('2d')
                    var donutData = result

                    var donutOptions = {
                        maintainAspectRatio: false,
                        responsive: true,
                    }
                    //Create pie or douhnut chart
                    // You can switch between pie and douhnut using the method below.
                    new Chart(donutChartCanvas, {
                        type: 'doughnut',
                        data: donutData,
                        options: donutOptions
                    })
                },
                failure: function (result) {
                    alert(result.d);
                },
                error: function (result) {
                    alert(result.d);
                }
            });

        </script>
        <script type="text/javascript">
            $.ajax({
                type: "POST",
                url: "/Home/DonutMethodPriority",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    //Donut
                    var donutChartCanvas = $('#donutChartPriority').get(0).getContext('2d')
                    var donutData = result

                    var donutOptions = {
                        maintainAspectRatio: false,
                        responsive: true,
                    }
                    //Create pie or douhnut chart
                    // You can switch between pie and douhnut using the method below.
                    new Chart(donutChartCanvas, {
                        type: 'doughnut',
                        data: donutData,
                        options: donutOptions
                    })
                },
                failure: function (result) {
                    alert(result.d);
                },
                error: function (result) {
                    alert(result.d);
                }
            });

        </script>

        <script>
            $(document).ready(function () {
                $('#myTable').DataTable();
            });
        </script>
    }
