@model Unbugit.Models.ViewModels.ProjectMembersViewModel


<div class="container">
    <div style="margin-bottom-40">
        <div class=" text-cent">
            <h3 class="panel-title text-center">Manage Team for @Model.Project.Name</h3>
        </div>
    </div>
        <div class="row bg-dark-gradient w-100 p-3">
            <div class="col-6 card-shadow p-2">
                <form asp-action="AssignUsers" asp-controller="Projects" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="@Model.Project.Id">
                    <input type="hidden" asp-for="@Model.Project.Name">
                    <div class="col-12">
                        <div class="form-group">
                            <label asp-for="@Model.Users" class="control-label">Add members for @Model.Project.Name</label>
                            <select asp-for="@Model.SelectedUsers" class="form-control-range select2-example" asp-items="@Model.Users" multiple="multiple"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <input type="submit" class="btn btn-success" value="Add Users" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-6 card shadow p-2">
                <form asp-action="RemoveUsers" asp-controller="Projects" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="@Model.Project.Id">
                    <input type="hidden" asp-for="@Model.Project.Name">
                    <div class="form-group">
                        <label asp-for="@Model.Users" class="control-label">Remove members from @Model.Project.Name</label>
                        <select asp-for="@Model.SelectedUsers" class="form-control-range select2-example" asp-items="@Model.Users" multiple="multiple"></select>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <input type="submit" class="btn btn-outline-danger" value="Remove Users" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a class="btn btn-outline-light btn-block" asp-action="Details" asp-controller="Projects" asp-route-id="@Model.Project.Id">Back to Project</a>
    @*@Html.ActionLink("Back to List", "Details")*@
</div>


@section Scripts{
    <!-- Select2 multiselect -->
    <script src="~/vendors/select2/js/select2.min.js"></script>
    <script>
        $('.select2-example').select2({
            placeholder: 'Select'
        });</script>
}
