@model Unbugit.Models.Project

@using Unbugit.Services.Interfaces
@using Microsoft.AspNetCore.Identity
@using Unbugit.Extensions

@inject IBTCompanyInfoService CompanyInfoService
@inject IBTRoleService RoleService
@inject IBTTicketService TicketService
@inject IBTProjectService ProjectService
@inject IBTFileService FileService
@inject UserManager<BTUser> UserManager

@{
    List<BTUser> developers = await ProjectService.GetProjectMembersByRoleAsync(Model.Id, "Developer");
    List<BTUser> submitters = await ProjectService.GetProjectMembersByRoleAsync(Model.Id, "Submitter");
    BTUser projectManager = await ProjectService.GetProjectManagerAsync(Model.Id);
    BTUser currentUser = await UserManager.GetUserAsync(User);
    ViewData["Title"] = "Project Details";
}
<div class="row">
    <div class="col text-center">
        <h2>@Model.Company.Name</h2>
    </div>
</div>
<hr style="border:1px dashed; border-radius:75%; border-color:#22DC0A; max-width:75%; opacity:.8;" />
<div class="row">
    <div class="col text-center">
        <h3>@Model.Name</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 card shadow bg-dark-gradient border-success p-3">
        <div class="row">
            <div class="col">
                @if (User.IsInRole("Admin") || (User.IsInRole("ProjectManager") && Model.Members.Contains(currentUser)))
                {
                <span>
                    <a asp-controller="Projects" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm text-warning fa fa-edit fa-pull-right p-3" style="font-size:1.2rem"></a><em style="font-size:1rem">@Model.Description</em>
                </span>
                }
                <dl>
                    <br />
                    @if (Model.Archived)
                    {
                        <div class="btn btn-block btn-outline-light bg-danger-bright">
                            <span class="text-danger">Archived</span>
                        </div>
                    }
                    @*<dd>
                        @Model.Description
                    </dd>*@
                    <dt class="col-sm-6 text-light">
                        Start Date
                    </dt>
                    <dd class="col-sm-6 text-success">
                        @Model.StartDate.ToString("d")
                    </dd>
                    <dt class="col-sm-6 text-light">
                        End Date
                    </dt>
                    <dd class="col-sm-6 text-danger">
                        @Model.EndDate?.ToString("d")
                    </dd>
                    <dt class="col-sm-6 text-light">
                        Priority
                    </dt>
                    <dd class="col-sm-6">
                        @if (Model.ProjectPriorityId == 1)
                        {
                            <span class="btn btn-sm btn-outline-danger bg-danger-bright">
                                <span class="text-danger">@Model.ProjectPriority.Name</span>
                            </span>
                        }
                        else if (Model.ProjectPriorityId == 2)
                        {
                            <span class="btn btn-sm btn-outline-warning bg-warning-bright">
                                <span class="text-warning">@Model.ProjectPriority.Name</span>
                            </span>
                        }
                        else if (Model.ProjectPriorityId == 3)
                        {
                            <span class="btn btn-sm btn-outline-info bg-info-bright">
                                <span class="text-info">@Model.ProjectPriority.Name</span>
                            </span>
                        }
                        else if (Model.ProjectPriorityId == 4)
                        {
                            <span class="btn btn-sm btn-outline-primary bg-primary-bright">
                                <span class="text-primary">@Model.ProjectPriority.Name</span>
                            </span>
                        }
                    </dd>
                    <dd class="col-10">
                        <span class="text-light">Project Manager:</span>
                        <ul>
                            @if ((projectManager != null) && (User.IsInRole("Admin")))
                            {
                                <a class="btn btn-outline-primary bg-primary-bright" asp-action="AssignPM" asp-controller="Projects" asp-route-id="@Model.Id">
                                    <li>
                                        <figure class="avatar" title="@projectManager.FullName" data-toggle="tooltip">
                                            <img src="@FileService.ConvertByteArrayToFile(projectManager.AvatarFileData, projectManager.AvatarContentType)" class="rounded-circle" alt="@projectManager.FullName">
                                        </figure>
                                        <span>@projectManager.FullName</span>
                                    </li>
                                </a>
                            }
                            else if (User.IsInRole("Admin"))
                            {
                                <a class="btn btn-outline-warning" asp-action="AssignPM" asp-controller="Projects" asp-route-id="@Model.Id">Assign Project Manager</a>
                            }
                            else
                            {
                                <li class="text-muted">No Project Manager Assigned</li>
                            }
                        </ul>
                    </dd>
                </dl>
                <div>
                    <a class="btn btn-outline-success" asp-action="AssignUsers" asp-controller="Projects" asp-route-id="@Model.Id">Manage Project Team</a>
                </div>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <dl>
                    @*@member.FullName*@
                    <dt class="text-info">
                        Developers:
                    </dt>
                    <div class="avatar-group">
                        @foreach (var member in developers)
                        {
                            <figure class="avatar" title="@member.FullName" data-toggle="tooltip">
                                <img src="@FileService.ConvertByteArrayToFile(member.AvatarFileData, member.AvatarContentType)" class="rounded-circle" alt="@member.FullName">
                            </figure>
                        }
                    </div>
                </dl>
            </div>
            <div class="col-4">
                <dl>
                    <dt class="text-secondary">
                        Submitters:
                    </dt>
                    <div class="avatar-group">
                        @foreach (var member in submitters)
                        {
                            <figure class="avatar" title="@member.FullName" data-toggle="tooltip">
                                <img src="@FileService.ConvertByteArrayToFile(member.AvatarFileData, member.AvatarContentType)" class="rounded-circle" alt="@member.FullName">
                            </figure>
                        }
                    </div>
                </dl>
            </div>
        </div>
    </div>
</div>

<hr style="border:1px dashed; border-radius:75%; border-color:#22DC0A; max-width:75%; opacity:.8;" />

<div class="text-center">
    <h5>Tickets for <strong>@Model.Name</strong></h5>
</div>
<div class="justify-content-center">
    @if (User.IsInRole("Admin") ||
 (User.IsInRole("ProjectManager") && projectManager?.Id == currentUser.Id) ||
 (User.IsInRole("Developer") && developers.Contains(currentUser)) ||
 (User.IsInRole("Submitter") && submitters.Contains(currentUser)))
    {
        <div class="modal fade" id="newTicketModal" tabindex="-1" role="dialog" aria-hidden="true" data-url='@Url.Action("Create", "Tickets")'></div>
        <a id="newTicketLauncher" asp-action="Create" asp-controller="Tickets" class="mx-1" data-toggle="modal" data-target="#newTicketModal">
            <span class="btn btn-outline-secondary">
                <i class="text-warning" data-feather="plus-square"></i>
            </span>
            <span>Add New Ticket</span>
        </a>
    }
</div>
<br />
    <div class="table-responsive">
        <table id="myTable" class="table table-hover">
            <caption>Tickets for @Model.Name</caption>
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Created
                    </th>
                    <th>
                        Submitter
                    </th>
                    <th>
                        Developer
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Type
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Ticket ticket in Model.Tickets)
                {
                <tr>

                    <td>
                        <a class="btn btn-sm btn-outline-secondary text-info" asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id">
                            @ticket.Title
                        </a>
                    </td>
                    <td>
                        @ticket.Created.ToString("D")
                    </td>
                    <td>
                        @if (ticket.OwnerUser is not null)
                        {
                            <figure class="avatar avatar-sm mr-3 bring-forward">
                                <img src="@FileService.ConvertByteArrayToFile(ticket.OwnerUser.AvatarFileData, ticket.OwnerUser.AvatarContentType)" title="@ticket.OwnerUser?.FullName" data-toggle="tooltip" alt="@ticket.OwnerUser?.FullName" class="rounded-circle">
                            </figure>
                            <small>@ticket.OwnerUser?.FullName</small>
                        }
                    </td>
                    <td>
                        @if (ticket.DeveloperUser is not null)
                        {
                            <figure class="avatar avatar-sm mr-3 bring-forward">
                                <img src="@FileService.ConvertByteArrayToFile(ticket.DeveloperUser.AvatarFileData, ticket.DeveloperUser.AvatarContentType)" title="@ticket.DeveloperUser?.FullName" data-toggle="tooltip" alt="@ticket.DeveloperUser?.FullName" class="rounded-circle">
                            </figure>
                            <small>@ticket.DeveloperUser?.FullName</small>
                        }
                    </td>
                    <td>
                        @if (ticket.TicketPriorityId == 1)
                        {
                            <span class="badge bg-danger-bright text-danger">@ticket.TicketPriority.Name</span>
                        }
                        else if (ticket.TicketPriorityId == 2)
                        {
                            <span class="badge bg-warning-bright text-warning">@ticket.TicketPriority.Name</span>
                        }
                        else if (ticket.TicketPriorityId == 3)
                        {
                            <span class="badge bg-info-bright text-info">@ticket.TicketPriority.Name</span>
                        }
                        else if (ticket.TicketPriorityId == 4)
                        {
                            <span class="badge bg-primary-bright text-primary">@ticket.TicketPriority.Name</span>
                        }
                    </td>
                    <td>
                        @ticket.TicketStatus.Name
                    </td>
                    <td>
                        @ticket.TicketType.Name
                    </td>
                </tr>
                }
            </tbody>
        </table>
        @*<a asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id">@ticket.Title</a>*@
    </div>
    <div class="d-block">
        <br />
        <div class="modal fade" id="newTicketModal" tabindex="-1" role="dialog" aria-hidden="true" data-url='@Url.Action("Create", "Tickets")'>
            @*<div class="modal-footer">
                <a href="#" class="align-items-center d-flex link-1 justify-content-center" data-dismiss="modal">
                    <i class="ti-close font-size-14 mr-1"></i>Dismiss
                </a>
            </div>*@
        </div>

        <a asp-action="Index"><button class="btn btn-outline-light text-light">Back to Company Projects List</button></a>
    </div>

    @section Scripts{
        <script>
            $(document).ready(function () {
                $('#myTable').DataTable();
            });
        </script>
    }