@model IEnumerable<Unbugit.Models.Project>

@using Microsoft.AspNetCore.Identity
@using Unbugit.Services.Interfaces
@using Unbugit.Extensions

@inject IBTCompanyInfoService CompanyInfoService
@inject IBTRoleService RolesService
@inject IBTTicketService TicketService
@inject IBTProjectService ProjectService
@inject UserManager<BTUser> UserManager

@{
    BTUser btUser = await UserManager.GetUserAsync(User);
    Company company = btUser.Company;
    List<Project> companyProjects = await ProjectService.GetAllProjectsByCompany((btUser.CompanyId).Value);

    ViewData["Title"] = "Company Projects";
}

<h2>All Projects for @company</h2>

@if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
{
    <p>
        <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
    </p>
    <div class="table-responsive">
        <table id="myTable" class="table table-hover">
            <caption>All Projects for @company</caption>
            <thead>
                <tr>
                    <th>
                        Project
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        End Date
                    </th>
                    <th>
                        @*@Html.DisplayNameFor(model => model.ImageFileName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ImageFileData)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ImageContentType)
                    </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Archived)
                    </th>
                    @*<th>
                        @Html.DisplayNameFor(model => model.Company)
                    </th>*@
                    <th>
                        Priority
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in companyProjects)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.StartDate.ToString("d")
                        </td>
                        <td>
                            @item.EndDate?.ToString("d")
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.ImageFileName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ImageFileData)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ImageContentType)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Archived)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Company.Name)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.ProjectPriority.Id)
                        </td>
                        <td>
                            <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h3>Sorry, you do not have access to this resource.</h3>
}
    <a asp-action="Dashboard" asp-controller="Home" asp-route-id="@btUser.Id"><p>Return Home</p></a>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
