@model IEnumerable<Unbugit.Models.Project>

@using Unbugit.Services.Interfaces
@using Microsoft.AspNetCore.Identity
@using Unbugit.Extensions

@inject IBTCompanyInfoService CompanyInfoService
@inject IBTRoleService RolesService
@inject IBTTicketService TicketService
@inject IBTProjectService ProjectService
@inject UserManager<BTUser> UserManager

@{
    int companyId = User.Identity.GetCompanyId().Value;
    BTUser btUser = await UserManager.GetUserAsync(User);
    List<Project> userProjects = await ProjectService.ListUserProjectsAsync(btUser.Id);

    ViewData["Title"] = "My Projects";
}
<h2>Projects for @btUser.FirstName</h2>
@if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

@foreach (var item in userProjects)
{
    <div class="row">
        <div class="col">
            <div class="card shadow p-4">
                <a class="btn btn-outline-info text-light" asp-action="Details" asp-controller="Projects" asp-route-id="@item.Id">@item.Name</a>
                <div class="align-content-center">
                    <hr style="border:dotted; border-radius:75%; border-color:#22DC0A; max-width:50%; opacity:.8; position:center;" />
                </div>
                <dl>
                    <dd><span class="text-info">Description:</span> @item.Description</dd>
                    <dd><span class="text-info">Start Date</span>: @item.StartDate.ToString("d")</dd>
                    @if (item.EndDate is not null)
                    {
                        <dd><span class="text-info">End Date:</span> @item.EndDate?.ToString("d")</dd>
                    }
                    else
                    {
                        <dd><span class="text-info">No end date set</span></dd>
                    }
                    @if (item.Archived)
                    {
                        <div class="btn-outline-light">
                            <h6 class="text-danger">Archived</h6>
                        </div>
                    }
                    <dd><span class="text-info">Priority</span>: @item.ProjectPriority.Name</dd>
                    @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                    {
                        <dd><a class="btn btn-sm btn-gradient-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a></dd>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <dd><a class="btn btn-sm btn-gradient-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a></dd>
                    }

                </dl>
            </div>
        </div>
    </div>
}

<div class="table-responsive">
    <table id="myTable" class="table table-hover">
        <caption>Projects for @btUser.FullName</caption>
        <thead>
            <tr>
                <th>
                    Project Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                @*<th>
                        @Html.DisplayNameFor(model => model.ImageFileName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ImageFileData)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ImageContentType)
                    </th>*@
                @*<th>
                        @Html.DisplayNameFor(model => model.Archived)
                    </th>*@
                @*<th>
                        @Html.DisplayNameFor(model => model.Company)
                    </th>*@
                <th>
                    Priority
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in userProjects)
            {
                <tr>
                    <td>
                        <a class="btn btn-outline-info" asp-action="Details" asp-controller="Projects" asp-route-id="@item.Id">@item.Name</a>
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.StartDate.ToString("d")
                    </td>
                    <td>
                        @if (item.EndDate is not null)
                        {
                            @item.EndDate?.ToString("d")
                        }
                        else
                        {
                            <span>No end date set</span>
                        }
                    </td>
                    @*<td>
                            @item.ImageFileName
                        </td>
                        <td>
                            @item.ImageFileData
                        </td>
                        <td>
                            @item.ImageContentType
                        </td>*@
                    @*<td>
                            @item.Archived
                        </td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => item.Company.Name)
                        </td>*@
                    <td>
                        @item.ProjectPriority.Name
                    </td>
                    <td>
                        @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                        {
                            <a class="btn btn-sm btn-gradient-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="btn btn-sm btn-gradient-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}
